/*=============================================================
    Authour URI: www.binarycart.com
    License: Commons Attribution 3.0

    http://creativecommons.org/licenses/by/3.0/

    100% To use For Personal And Commercial Use.
    IN EXCHANGE JUST GIVE US CREDITS AND TELL YOUR FRIENDS ABOUT US
  ========================================================  */


/*==============================================
    GENERAL  STYLES
  =============================================*/

body {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
}
#wrapper {
  width: 100%;
  background: #202020;
}
.page-wrapper {
  padding: 75px 15px;
  min-height: 3600px;
  background: #F3F3F3;
}
.hide_on_login {
  margin: 0 0 0 0;
  background: #F3F3F3;
}
#page-inner {
  width: 100%;
  margin: 10px 20px 10px 0px;
  background-color: #fff!important;
  padding: 10px;
  min-height: 1200px;
}
.text-center {
  text-align: center;
}
.no-boder {
  border: 1px solid #f3f3f3;
}
h2 {
  color: #00855b;
}
h4 {
  padding-top: 10px;
}
.square-btn-adjust {
  border: 0px solid transparent;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
p {
  font-size: 16px;
  line-height: 25px;
  padding-top: 20px;
}
.Pending {
  color: #FF0000;
}
.Scheduled {
  color: #009900;
}
.Invoiced, .Completed {
  color: #0000CC;
}
.InvoicePaid {
  color: #FF9900;
}
.Scheduled {
  color: #FF0000;
}
.Closed {
  color: #009900;
}
.Open, .InProgress {
  color: #0000CC;
}
.WaitForResponse {
  color: #FF9900;
}
.key_text {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
  padding-bottom: 8px;
  text-align: left;
}
.form-control {
  margin-top: 4px;
}

/*==============================================
   DASHBOARD STYLES
  =============================================*/

.panel-back {
  background-color: #F8F8F8;
}
.noti-box {
  min-height: 100px;
  padding: 20px;
}
.noti-box .icon-box {
  display: block;
  float: left;
  margin: 0 15px 10px 0;
  width: 70px;
  height: 70px;
  line-height: 75px;
  vertical-align: middle;
  text-align: center;
  font-size: 40px;
}
.text-box p {
  margin: 0 0 3px;
}
.main-text {
  font-size: 25px;
  font-weight: 600;
}
.set-icon {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}
.bg-color-green {
  background-color: #00CE6F;
  color: #fff;
}
.bg-color-blue {
  background-color: #A95DF0;
  color: #fff;
}
.bg-color-red {
  background-color: #DB0630;
  color: #fff;
}
.bg-color-brown {
  background-color: #B94A00;
  color: #fff;
}
.css-form input.ng-invalid.ng-dirty {
  background-color: #ffa8a8;
}
.css-form input.ng-valid.ng-dirty {
  background-color: #b5ff93;
}
.icon-box-right {
  display: block;
  float: right;
  margin: 0 15px 10px 0;
  width: 70px;
  height: 70px;
  line-height: 75px;
  vertical-align: middle;
  text-align: center;
  font-size: 40px;
}
.main-temp-back {
  background: #8702A8;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
}
.main-temp-back .text-temp {
  font-size: 40px;
}
.back-dash {
  padding: 20px;
  font-size: 20px;
  font-weight: 500;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  background-color: #2EA7EB;
  color: #fff;
}
.back-dash p {
  padding-top: 16px;
  font-size: 13px;
  color: #fff;
  line-height: 25px;
  text-align: justify;
}
.back-footer-green {
  background-color: #009B50;
  border-top: 0px solid #fff;
}
.back-footer-red {
  background-color: #AF0000;
  border-top: 0px solid #fff;
}
.color-bottom-txt {
  color: #000;
  font-size: 16px;
  line-height: 30px;
}

/*CHAT PANEL*/

.chat-panel .panel-body {
  height: 450px;
  overflow-y: scroll;
}
.chat-box {
  margin: 0;
  padding: 0;
  list-style: none;
}
.chat-box li {
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom: 1px dotted #808080;
}
.chat-box li.left .chat-body {
  margin-left: 90px;
}
.chat-box li .chat-body p {
  margin: 0;
  color: #8d8888;
}
.chat-img>img {
  margin-left: 20px;
}

/*==============================================
    MENU STYLES
  =============================================*/

.app-image {
  margin: 5px auto;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  max-height: 170px;
  max-width: 170px;
}
.apptitle {
  margin: 0 auto;
  color: #00855b;
  font-family: "Roboto Slab";
  font-weight: 400;
  font-size: 1.6em;
}
.copyright {
  color: white;
  font-size: 0.8em;
}
.corebosbos {
  background: #03589b;
  color: #00855b;
}
.coreboscore {
  background: #00855b;
  color: #fff;
}
.coreboscolororange {
  color: #00855b;
}
.coreboscolorblue {
  color: #03589b;
}
.corebosbackorange {
  background: #00855b;
}
.corebosbackblue {
  background: #03589b;
}
.navbar-cls-top .navbar-brand {
  color: #fff;
  background: #4d4d4d;
  width: 260px;
  text-align: center;
  height: 60px;
  font-size: 30px;
  font-weight: 700;
}
.active-menu {
  background-color: #00855b !important;
}
.termsc {
  clear: left;
  display: block;
  overflow-y: auto;
  max-height: 600px;
}
.arrow {
  float: right;
}
.fa.arrow:before {
  content: "\f104";
}
.active > a > .fa.arrow:before {
  content: "\f107";
}
.nav-second-level li, .nav-third-level li {
  border-bottom: none !important;
}
.nav-second-level li a {
  padding-left: 37px;
}
.nav-third-level li a {
  padding-left: 55px;
}
.sidebar-collapse, .sidebar-collapse .nav {
  background: none;
}
.sidebar-collapse .nav {
  padding: 0;
}
.sidebar-collapse .nav > li > a {
  color: #fff;
  background: #202020;
  text-shadow: none;
}
.sidebar-collapse > .nav > li > a {
  padding: 15px 10px;
}
.sidebar-collapse > .nav > li {
  border-bottom: 1px solid rgba(107, 108, 109, 0.19);
}
.sidebar-collapse .nav > li > a:hover, .sidebar-collapse .nav > li > a:focus {
  background: #0A0A0A;
  outline: 0;
}
.nav-second-level > li > a:before, .nav-third-level > li > a:before {
  content: "";
  display: block;
  position: absolute;
  left: 20px;
  width: 15px;
  height: 1px;
  background: #ff0000;
  top: 20px;
}
.nav-second-level > li > a:after, .nav-third-level > li > a:after {
  content: "";
  display: block;
  position: absolute;
  left: 20px;
  width: 1px;
  height: 100%;
  background: #ff0000;
  top: 0px;
  z-index: 10;
}
.nav-second-level > li:last-child > a:after, .nav-third-level > li:last-child > a:after {
  height: 50%;
}
.nav-third-level > li > a:after, .nav-third-level > li > a:before {
  left: 40px;
}
.navbar-side {
  border: none;
  background-color: #202020;
}
.navbar-cls-top {
  background: #4D4D4D;
  border-bottom: none;
}
.navbar-cls-top .navbar-brand:hover {
  background: #4D4D4D;
  color: #fff;
}
.navbar-default {
  border: 0px solid black;
}
.navbar-header {
  background: #4d4d4d;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #00855b;
}
.navbar-default .navbar-toggle {
  border-color: #fff;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #FFF;
}
.nav > li > a > i {
  margin-right: 10px;
}

/*==============================================
    UI ELEMENTS STYLES
  =============================================*/

.btn-circle {
  width: 50px;
  height: 50px;
  padding: 6px 0;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  text-align: center;
  font-size: 12px;
  line-height: 1.428571429;
}

/*==============================================
    MEDIA QUERIES
  =============================================*/

@media(min-width:768px) {
  .page-wrapper {
    margin: 0 0 0 260px;
    padding: 15px 30px;
    min-height: 1200px;
  }
  .navbar-side {
    z-index: 1;
    position: relative;
    width: 260px;
  }
  .navbar {
    border-radius: 0px;
  }
}
.gridStyle {
  border: 1px solid rgb(212, 212, 212);
  height: 100%;
  overflow-y: auto;
}
.tr-ng-grid > tbody > tr > td, .tr-ng-grid > tbody > tr > td > .tr-ng-cell {
  -webkit-touch-callout: text;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
