@charset "utf-8";

/* CSS Document */
@import "style_var.less";

body {
  background: #e9e9e9 !important;
  color: #333;
  font: 14px/1.6 Tahoma, Geneva, Arial, sans-serif;
  width: 100%;
  margin: 0 !important;
  padding: 0 !important;
}

html,
body {
  background: #e9e9e9 !important;
}

body a {
  color: #FF9900;
  text-decoration: none;
}

body a:hover {
  color: #ccc;
  text-decoration: underline;
}

.inline {
  display: inline-block;
}

.scroll-effect #topHeader {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.scroll-effect #topHeader:after {
  content: "";
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .2)), to(rgba(0, 0, 0, 0)));
  -webkit-mask-box-image: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(0, 0, 0, 0)), color-stop(.5, rgba(0, 0, 0, .8)), color-stop(1, rgba(0, 0, 0, 0)));
  width: 100%;
  height: 6px;
  position: absolute;
  left: 0;
  margin-top: 40px;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#topHeader {
  position: fixed;
  z-index: 444;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 55px;
  padding-right: 20px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background: #fff !important;
  border-bottom: 1px solid #ccc;
}

.toggleHide #topHeader {
  padding-left: 70px;
}

.toggleShow #topHeader {
  padding-left: 200px;
}

#topHeader #search_bar {
  max-width: 500px;
  margin-right: 20px;
}

.toggleHide #topHeader #search_bar input#search {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.toggleShow #topHeader #search_bar input#search {
  width: 300px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#topHeader #search_bar input#search {
  height: 5px;
  padding: 0;
  border: 1px solid #d9d9d9;
  outline: none;
  border-top-color: silver;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

#topHeader #search_bar input#search:focus {
  border: 1px solid #237cc0;
  border-top-color: #035a9d;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

#uploadtable {
  width: 40%;
}

#topHeader #search_bar input#button {
  background: url("../images/icons/btn-search.png") no-repeat center center;
  width: 20px;
  height: 0;
  border: none;
  outline: none;
  overflow: hidden;
  text-indent: -99em;
  margin-left: -30px;
  cursor: pointer;
}

#topHeader #upgrade {
  color: #999;
}

#topHeader #upgrade a {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 6px 8px;
  border: 1px solid #f6a400;
  color: #fff;
  text-shadow: 0 1px rgba(0, 0, 0, .1);
  background-color: #ffb218;
  background-image: -moz-linear-gradient(top, #ffb218, #f6a400);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f6a400), to(#f6a400));
  background-image: -webkit-linear-gradient(top, #ffb218, #f6a400);
  background-image: -o-linear-gradient(top, #ffb218, #f6a400);
  background-image: linear-gradient(to bottom, #ffb218, #f6a400);
  background-repeat: repeat-x;
}

#topHeader #upgrade a:hover {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 1px 1px #bcbbbb;
  -moz-box-shadow: 0 1px 1px #bcbbbb;
  -webkit-box-shadow: 0 1px 1px #bcbbbb;
  text-decoration: none;
}

.topHeader-right {
  position: relative;
  display: inline-block;
  float: right;
}

#topHeader #add_new_actions {
  float: right;
  margin-right: 10px;
}

#topHeader #add_new_actions #more_actions {
  padding: 4px 8px;
  background: #e5e5e5;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-weight: bold;
  font-size: 11px;
  line-height: 20px;
  height: 20px;
  cursor: pointer;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
  -moz-opacity: 0.7;
  -khtml-opacity: 0.7;
  opacity: 0.7;
}

#topHeader #add_new_actions #more_actions:hover {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}

#topHeader #add_new_actions #more_actions .arrow {
  width: 20px;
  height: 10px;
  display: inline-block;
  background: url("../images/arrow-black.png") no-repeat center right;
}

#topHeader #profileWrapper {
  float: right;
}

#topHeader #profileWrapper #profile_more_actions {
  padding: 4px 8px;
  background: #e5e5e5;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
  -moz-opacity: 0.7;
  -khtml-opacity: 0.7;
  opacity: 0.7;
}

#topHeader #profileWrapper #profile_more_actions:hover {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}

#topHeader #profileWrapper img {
  width: 20px;
  height: 20px;
  float: left;
  padding-right: 5px;
}

#topHeader #profileWrapper .profile-name {
  background: url("../images/arrow-black.png") no-repeat center right;
  padding-right: 15px;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 11px;
  line-height: 20px;
}

#topHeader #profileWrapper .menuAction {
  padding-top: 8px;
  width: 150px;
  position: absolute;
  z-index: 5;
  right: 1%;
  margin-top: 0;
  background: url("../images/arrow-up-white.png") no-repeat top right;
}

#topHeader #add_new_actions .menuAction {
  padding-top: 8px;
  width: 150px;
  position: absolute;
  z-index: 5;
  right: 1%;
  margin-right: 110px;
  margin-top: 0;
  background: url("../images/arrow-up-white.png") no-repeat top center;
}

	
#topHeader #profileWrapper ul,
#topHeader #add_new_actions ul {
  min-width: 150px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0;
  margin-left: 0;
  margin-top: 0;
  background: #fff;
  border: 1px solid #bababa;
  border-top: none;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.3);
}

#topHeader #profileWrapper ul li,
#topHeader #add_new_actions ul li {
  list-style: none;
}

#topHeader #profileWrapper ul li a,
#topHeader #add_new_actions ul li a {
  font-size: 12px;
  display: block;
  padding: 5px 20px 5px 25px;
  color: #666;
  background: url("../images/arrow-menu-grey.png") no-repeat left center;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor:pointer;
}

#topHeader #profileWrapper ul li a:hover,
#topHeader #add_new_actions ul li a:hover {
  color: #fff;
  background: #F78E1E url("../images/arrow-menu-grey.png") no-repeat left center;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}

#topHeader #profileWrapper ul li.logout a { background: url("../images/logout-icon-grey.png") no-repeat left center;}
#topHeader #profileWrapper ul li.change-password a { background: url("../images/pass-icon-grey.png") no-repeat left center;}
#topHeader #profileWrapper ul li.edit-profile a { background: url("../images/edit-profile-grey.png") no-repeat left center;}

#topHeader #profileWrapper ul li.logout a:hover { background: #F78E1E url("../images/logout-icon-white.png") no-repeat left center;}
#topHeader #profileWrapper ul li.change-password a:hover { background: #F78E1E url("../images/pass-icon-white.png") no-repeat left center;}
#topHeader #profileWrapper ul li.edit-profile a:hover { background: #F78E1E url("../images/edit-profile-white.png") no-repeat left center;}

.dropDown .menuAction {
  display: none;
}

.dropDown:hover .menuAction {
  display: block;
}

.dropDown:hover .menuAction ul {
  -webkit-transition: opacity 200ms ease;
  -moz-transition: opacity 200ms ease;
  -o-transition: opacity 200ms ease;
}

/*popup window change password.....................*/

.change-password-block,
.edit-profile-block {
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background:rgba(145,145,145,0.85);
	z-index:999;
	overflow-y: auto;
}

.change-password-block .content {
	width:50%;
	max-width:500px;
	margin:100px auto;
	background:#fff;
	padding:20px;
	border:1px solid #919195;
	border-bottom:1px solid #666;
	
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.edit-profile-block .content {
	width:50%;
	max-width:500px;
	margin:30px auto;
	background:#fff;
	padding:20px;
	border:1px solid #919195;
	border-bottom:1px solid #666;
	
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.change-password-block .content h2,
.edit-profile-block .content h2 {
	font-family: 'PT Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    color: #919195;
    text-transform: uppercase;
	margin-top:0;
}

.edit-profile-block .content ul {margin:0; padding:0;}
.edit-profile-block .content ul li { list-style:none;}

.change-password-block input[type="password"],
.edit-profile-block input[type="text"]{
    background-color: #ffffff;
    border: 1px solid #cccccc;
	padding-left:7px!important;
	padding-right:7px!important;
	padding-top:2px!important;
	padding-bottom:2px!important;
	width:100%;
	line-height:30px;
	height:30px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
	-webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
	margin-bottom:10px!important;
}
.edit-profile-block select{
    background-color: #ffffff;
    border: 1px solid #cccccc;
	padding-left:7px!important;
	padding-right:7px!important;
	padding-top:2px!important;
	padding-bottom:2px!important;
	width:100%;
	line-height:30px;
	height:30px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
	-webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
	margin-bottom:10px!important;
}

.change-password-block input.resetbutt,
.edit-profile-block input.savebutt {
    background: #669933 !important;
    color: #fff !important;
    padding-left: 50px;
    padding-right: 50px;
	padding-top:10px;
	padding-bottom:10px;
    font-family: 'PT Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
	text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
	
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-sizing: border-box;
    outline: none;
    border: 0;
    display: inline-block;
    cursor: pointer;
	
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
    
}

.change-password-block input.cancelbutt,
.edit-profile-block input.cancelbutt {
    background: #e11a00 !important;
    color: #fff !important;
    padding-left: 50px;
    padding-right: 50px;
	padding-top:10px;
	padding-bottom:10px;
    font-family: 'PT Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
	text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
	
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-sizing: border-box;
    outline: none;
    border: 0;
    display: inline-block;
    cursor: pointer;
	
   -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
    
}

.change-password-block input.resetbutt:hover,
.change-password-block input.cancelbutt:hover,
.edit-profile-block input.savebutt:hover,
.edit-profile-block input.cancelbutt:hover {
    background: #919195 !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/*popup window edit profile.....................*/



#close_open_button {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 10px;
  cursor: pointer;
  z-index: 556;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.toggleHide #close_open_button {
  left: 0;
  margin-top: 50px;
  background: url("../images/switch-left-menu.png") no-repeat right center;
}

.toggleShow #close_open_button {
  left: 130px;
  margin-top: 50px;
  background: url("../images/switch-left-menu.png") no-repeat left center;
}

#leftNavigation {
  height: 100%;
  z-index: 555;
  position: fixed;
  background: #dd7403;
  top: 0;
  left: 0;
  padding-top: 45px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.toggleHide #leftNavigation {
  width: 50px;
  background: #919195 url(../../../cpsoftware/test/logo/logo-cp_out.png) no-repeat top left;
  background-size:50px 50px;
}

.toggleShow #leftNavigation {
  width: 180px;
  background: #919195 url(../../../cpsoftware/test/logo/logo-cp_out.png) no-repeat top left;
  background-size:180px 50px;
}

#leftNavigation ul {
  padding: 0;
  margin: 70px 0 0;
}

#leftNavigation ul li {
  list-style: none;
  display: block;
  text-align: right;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-position: right center;
  background-repeat: no-repeat;
  background-color: #919195;
  border-bottom: 1px solid #6D6D6D;
  border-top: 1px solid #E0E0E0;
  text-indent: -999em;
}

#leftNavigation ul li:hover {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #dd7403;
  border-bottom: 1px solid #dd7403;
  border-top: 1px solid #fdab52;
}

#leftNavigation ul li.active {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #dd7403;
  border-bottom: 1px solid #dd7403;
  border-top: 1px solid #fdab52;
}

#leftNavigation ul li.dashboard {
  background-image: url("../images/icons/dashboard.png");
}

#leftNavigation ul li.people-organizations {
  background-image: url("../images/icons/people-list.png");
}

#leftNavigation ul li.report {
  background-image: url("../images/icons/report.png");
}

#leftNavigation ul li.tasks {
  background-image: url("../images/icons/calentar-tasks.png");
}

#leftNavigation ul li.cases {
  background-image: url("../images/icons/cases.png");
}

#leftNavigation ul li.Project {
  background-image: url("../images/icons/Project_icon.png");
}

#leftNavigation ul li.Task {
  background-image: url("../images/icons/Task_icon.png");
}

#leftNavigation ul li.Documents {
  background-image: url("../images/icons/Documents_icon.png");
}

#leftNavigation ul li.PickAndPay {
  background-image: url("../images/icons/PickAndPay_icon.png");
}

#leftNavigation ul li.gestorepratiche {
  background-image: url("../images/icons/gestorepratiche_icon.png");
}

#leftNavigation ul li.gestioneuscite {
  //background-image: url("../images/icons/gestioneuscite_icon.png");
}

#leftNavigation ul li.dashboard {
  background-image: url("../images/icons/dashboard.png");
}

#leftNavigation ul li.Emails {
  background-image: url("../images/icons/Email.png");
}

#leftNavigation ul li.Calendario {
  background-image: url("../images/icons/Calendario_icon.png");
}

#leftNavigation ul li a {
  font-size: 11px;
  color: #fff;
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 60px;
  margin-right: -9px;
  text-decoration: none;
  text-align: right;
  display: inline-block;
}

#leftNavigation ul li.active a,
#leftNavigation ul li a:hover {
  text-decoration: none;
  background:
}

#leftNavigation ul li.active a {
  background: url("../images/menu-active-arrow.png") no-repeat right center;
}

/*......................................................................................................*/
#pageWrapper {
  right: 20px;
  top: 90px;
  padding-bottom: 30px;
  position: absolute;
}

.toggleHide #pageWrapper {
  left: 70px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.toggleShow #pageWrapper {
  left: 200px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#pageWrapper .pageLeft {
  background: #fff;
  border: 1px solid #d1d1d1;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 5px #e5e5e5;
  -moz-box-shadow: 0 2px 5px #e5e5e5;
  -webkit-box-shadow: 0 2px 5px #e5e5e5;
  display: inline-block;
  //width: @pageLeftWidth;
  float: left;
}

#pageWrapper #pageHeader {
  line-height: 55px;
  width: auto;
  position: fixed;
  height: 63px;
  padding-bottom: 10px;
  z-index: 555;
  top: 0;
  margin: 0;
  background: url(../images/arrow-down-white.png) no-repeat bottom center;
}

#pageWrapper #pageHeader h2 {
  font-family: 'PT Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  width: auto;
  color: #f78f1e;
  background-color: transparent;
  border: none;
  margin: 0;
  float: left;
  padding-left: 20px;
}

#pageWrapper .pageLeft #pageHeader .button-add {
  float: right;
  display: inline-block;
  margin-right: 20px;
  border-left: 1px solid #e5e5e5;
}

#pageWrapper .pageLeft #pageHeader .button-add a {
  padding: 7px 15px 7px 50px;
  margin-left: 20px;
  background: #919195 url("../images/plus.png") no-repeat left center;
  color: #fff;
  font-family: 'PT Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  border: 1px solid #7F7F7F;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  box-shadow: 0 1px 1px #888;
  -moz-box-shadow: 0 1px 1px #888;
  -webkit-box-shadow: 0 1px 1px #888;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#pageWrapper .pageLeft #pageHeader .button-add a:hover {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  border: 1px solid #DB6A05;
  background: #F78E1E url("../images/plus.png") no-repeat left center;
}

#pageWrapper .pageLeft #pageFilter {
  padding: 10px 10px 10px 20px;
  border-bottom: 1px solid #ccc;
  display: block;
}

#pageWrapper .pageLeft #pageFilter select {
  padding: 4px 8px;
  border: 1px solid #d9d9d9;
  border-top-color: silver;
  outline: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

#pageWrapper .pageLeft #pageFilter .new-list {
  display: inline-block;
}

#pageWrapper .pageLeft #pageFilter #viewResult {
  text-align: center;
  position: relative;
  float: right;
  margin-top: 2px;
  margin-right: 20px;
  font-size: 12px;
  color: #z;
  background: url("../images/arrow-down-white.png") no-repeat bottom center;
  padding-bottom: 20px;
  width: auto;
  //right: 30%;
}

#pageWrapper .pageRows {
  padding: 20px;
  margin-top: 20px;
  padding-top: 0;
  font-size: 12px;
  color: #666;
}

#pageWrapper table tr {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e5e5e5;
}

#pageWrapper #res_table {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e5e5e5;
  width: 100%;
}

#pageWrapper #profileCol {
  min-width: 500px;
  font-size: 12px;
}

#pageWrapper #profileCol img {
  float: left;
  width: 35px;
  height: 35px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 3px;
  border: 1px solid #e5e5e5;
  margin-right: 10px;
  margin-bottom: 20px;
}

#pageWrapper #profileCol .name {
  font-size: 13px;
  font-weight: bold;
  text-transform: capitalize;
}

#pageWrapper #profileCol .tags {
  color: #999;
}

#pageWrapper .pageRight {
  background: #f6fbff;
  border: 1px solid #d1dbe3;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 5px #e5e5e5;
  -moz-box-shadow: 0 2px 5px #e5e5e5;
  -webkit-box-shadow: 0 2px 5px #e5e5e5;
  display: inline-block;
  padding: 1%;
  width: @pageRightWidth;
  float: right;
}

#pageWrapper .pageRight ul {
  padding: 0;
  margin: 0;
}

#pageWrapper .pageRight ul li {
  list-style: none;
  color: #a0acb6;
  font-size: 12px;
  padding-bottom: 10px;
  padding-left: 25px;
}

#pageWrapper .pageRight ul li.csv {
  background: url("../images/icons/export-blue.png") no-repeat top left;
}

#pageWrapper .pageRight ul li.vcard {
  background: url("../images/icons/export-blue.png") no-repeat top left;
}

#pageWrapper .pageRight ul li.mailchimp {
  background: url("../images/icons/mailchimp-blue.png") no-repeat top left;
}

#pageWrapper .pageRight ul li.mail-list {
  background: url("../images/icons/email-blue.png") no-repeat top left;
}

#pageWrapper .pageRight ul li.add-tag {
  background: url("../images/icons/tag-blue.png") no-repeat top left;
}

#pageWrapper .pageRight ul li.add-note {
  background: url("../images/icons/note-blue.png") no-repeat top left;
}

#pageWrapper .pageRight ul li.delete {
  background: url("../images/icons/delete-blue.png") no-repeat top left;
}

/*...........................................................................................*/
#pageWrapper .pageContent {
  display: inline-block;
  width: 99.9%;
  padding-bottom: 30px;
}

#pageWrapper .pageContent #tags {
  width: auto;
  display: inline-block;
  color: #999;
  font-size: 11px;
  padding: 5px 5px 5px 20px;
  background: url("../images/icons/tag.png") no-repeat left center;
  margin-left: 20px;
}

#pageWrapper .pageContent #tags .actual_tags {
  padding-right: 5px;
  margin-right: 5px;
  border-right: 1px solid #ccc;
}

#pageWrapper #pageTabs {
  height: 40px;
  margin-left: 20px;
  margin-right: 20px;
  border-bottom: 1px solid #ccc;
}

#pageWrapper #pageTabs ul {
  margin: 0;
  padding: 0;
  position: relative;
}

#pageWrapper #pageTabs ul li {
  list-style: none;
  display: inline-block;
  padding-top: 7px;
  padding-bottom: 21px;
}

#pageWrapper #pageTabs ul li.close {

    padding-right:20px;
  float: right;
  font-size: 16px;    
    font-weight: 400;   
    color: #fff;    
    text-shadow: 0 0px 0 #fff;    
    filter: alpha(opacity=100);   
    opacity: 1;   
    font-family: 'PT Sans', sans-serif;   
  -webkit-font-smoothing: antialiased;
}

#pageWrapper #pageTabs ul li.not_accept {

float: right;
    
    font-size: 16px;  
  line-height: 0; 
    font-weight: 400;   
    color: #fff;    
    text-shadow: 0 0px 0 #fff;    
    filter: alpha(opacity=100);   
    opacity: 1;   
    font-family: 'PT Sans', sans-serif;   
  -webkit-font-smoothing: antialiased;
}

#pageWrapper #pageTabs ul li.not_accept a.label-primary {

  background-color: #e11a00 !important;
  color: #fff;
  text-shadow: none;
  font-family: 'PT Sans', sans-serif;




  -webkit-font-smoothing: antialiased;
}

#pageWrapper #pageTabs ul li.not_accept a.label-primary:hover {
  background-color: #e11a00 !important;
  color: #fff;
  font-family: 'PT Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
}

#pageWrapper #pageTabs ul li.close a.label-primary {

  background-color: green !important;
  color: #fff;
  text-shadow: none;
  font-family: 'PT Sans', sans-serif;




  -webkit-font-smoothing: antialiased;
}

#pageWrapper #pageTabs ul li.close a.label-primary:hover {
  background-color: green !important;
  color: #fff;
  font-family: 'PT Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
}
#pageWrapper #pageTabs ul li a {
  padding: 10px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #666;
  text-decoration: none;
  font-family: 'PT Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-transition: all 1.3s ease-in-out;
  -moz-transition: all 1.3s ease-in-out;
  -o-transition: all 1.3s ease-in-out;
  transition: all 1.3s ease-in-out;
}

#pageWrapper #pageTabs ul li a:hover {
  color: #045799;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#pageWrapper #pageTabs ul li.active a {
  font-weight: 700;
  color: #666;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#pageWrapper #profileDetails #profileHeader #profile-pic {
  width: 70px;
  height: 70px;
  overflow: hidden;
  float: left;
  margin-right: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

#pageWrapper #profileDetails #profileHeader img {
  width: 70px;
  height: auto;
}

#pageWrapper #profileDetails #profileHeader .name {
  font-family: 'PT Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 20px;
  font-weight: 700;
}

#pageWrapper #profileDetails #profileHeader .profileEdit {
  position: absolute;
  background-color: #ffb218;
  height: 20px;
  width: 50px;
  padding-left: 8px;
  top: 5%;
  right: -5%;
  display: block;
  border-radius: 3px 3px 0 3px;
  box-shadow: 0 3px 3px -2px #ccc;
}

#pageWrapper #profileDetails #profileHeader .profileEdit:after {
  top: 20px;
  right: 0;
  border-top: 4px solid #585858;
  border-right: 4px solid rgba(0, 0, 0, 0);
  content: "";
  position: absolute;
}

#pageWrapper #profileDetails #profileHeader .profileEdit a {
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 1px rgba(0, 0, 0, .1);
}

#pageWrapper #profileDetails ul.contact-details {
  margin: 0;
  padding: 0;
  margin-top: 10px;
}

#pageWrapper #profileDetails ul.contact-details li {
  list-style: none;
  line-height: 20px;
  padding-left: 25px;
}

#pageWrapper #profileDetails ul.contact-details li.email {
  background: url("../images/icons/email.png") no-repeat left top;
}

#pageWrapper #profileDetails ul.contact-details li.url {
  background: url("../images/icons/link.png") no-repeat left top;
}

#pageWrapper #profileDetails ul.contact-details li.address-home {
  background: url("../images/icons/home.png") no-repeat left top;
}

#pageWrapper #profileDetails ul.contact-details li.address-office {
  background: url("../images/icons/office.png") no-repeat left top;
}

#leftNavigation ul li.Cases {
  background-image: url("../images/icons/Cases_icon.png");
}

#leftNavigation ul li.Accounts {
  background-image: url("../images/icons/Accounts_icon.png");
}

#leftNavigation ul li.Dealer {
  background-image: url("../images/icons/Dealer_icon.png");
}

#leftNavigation ul li.Faq {
  background-image: url("../images/icons/Faq_icon.png");
}

#leftNavigation ul li.KnowledgeBase {
  background-image: url("../images/icons/KnowledgeBase_icon.png");
}

#leftNavigation ul li.Leads {
  background-image: url("../images/icons/Leads_icon.png");
}

#leftNavigation ul li.ProductFamily {
  background-image: url("../images/icons/ProductFamily_icon.png");
}

#leftNavigation ul li.Products {
  background-image: url("../images/icons/Products_icon.png");
}

#leftNavigation ul li.ProductDetail {
  background-image: url("../images/icons/ProductDetail_icon.png");
}

#leftNavigation ul li.Accounts {
  background-image: url("../images/icons/Accounts_icon.png");
}

#leftNavigation ul li.Contacts {
  background-image: url("../images/icons/Contacts_icon.png");
}

#leftNavigation ul li.Territory {
  background-image: url("../images/icons/Territory_icon.png");
}

#leftNavigation ul li.HelpDesk {
  background-image: url("../images/icons/HelpDesk_icon.png");
}

#leftNavigation ul li.Messages {
  background-image: url("../images/icons/Messages_icon.png");
}

#leftNavigation ul li.Cities {
  background-image: url("../images/icons/Cities_icon.png");
}

#pageWrapper #profileDetails ul.contact-details li .type {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background: #eee;
  border-bottom: 1px solid #ccc;
  padding: 2px 5px;
  font-size: 10px;
  color: #333;
  font-weight: bold;
}

#pageWrapper #profileDetails .subtext a {
  font-size: 10px;
}

#pageWrapper #profileContent .summary-panel {
  border: 1px solid #e5e5e5;
  background: #f8f8f8;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  width: 65%;
  float: right;
  margin-top: 0;
  margin-bottom: 20px;
  padding: 0;
}

#pageWrapper #profileContent .column3 .column.first {
  border-left: 0 solid #e5e5e5;
}

#pageWrapper #profileContent .column3 .column {
  text-align: center;
  border-left: 1px solid #e5e5e5;
  min-height: 70px;
  padding: 10px 0 15px;
  margin: 0;
  width: 33.33333333%;
  font-family: 'PT Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
}

#pageWrapper #profileContent .summary-panel h3 {
  text-transform: uppercase;
  color: #999;
  font-size: 11px;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

#pageWrapper #profileContent .summary-panel p {
  font-size: 12px;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

#pageWrapper #profileContent .summary-panel p.large {
  font-size: 16px;
  font-weight: 700;
  padding: 0;
  margin: 0;
}

#pageWrapper #profileContent .pageRows {
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  width: 60%;
  float: right;
  margin-top: 0;
  padding: 0 0 20px;
}

#pageWrapper #pagerowsHeader #buttons {
  width: auto;
  float: right;
  margin-top: -3px;
}

#pageWrapper #pagerowsHeader #buttons a.add-action {
  border: 1px solid #03599e;
  color: #fff;
  text-shadow: 0 1px rgba(0, 0, 0, .1);
  text-decoration: none;
  padding: 6px 10px;
  background-color: #045799;
  background-image: -moz-linear-gradient(top, #0b71c2, #045799);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0b71c2), to(#045799));
  background-image: -webkit-linear-gradient(top, #0b71c2, #045799);
  background-image: -o-linear-gradient(top, #0b71c2, #045799);
  background-image: linear-gradient(to bottom, #0b71c2, #045799);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0b71c2', endColorstr='#045799', GradientType=0);
  filter: progid:DXImageTransform.Mi;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#pageWrapper #pagerowsHeader #buttons a.add-action:hover {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 1px 1px #808080;
  -moz-box-shadow: 0 1px 1px #808080;
  -webkit-box-shadow: 0 1px 1px #808080;
  text-decoration: none;
}

#pageWrapper #pagerowsHeader #buttons a.add-action .icon {
  padding-right: 10px;
  font-size: 16px;
  font-weight: bold;
}

#pageWrapper #profileContent .pageRows table {
  padding-left: 0.9%;
  padding-right: 0.9%;
}

#pageWrapper #profileContent #summary table td {
  display: block;
}

#pageWrapper #profileContent .pageRows .note {
  padding-left: 25px;
  padding-top: 5px;
  float: left;  /*background:url(../images/icons/note.png) no-repeat top left;*/
}

#pageWrapper #profileContent .pageRows .attach {
  padding-left: 25px;
  padding-top: 5px;
  float: left;
  background: url("../images/icons/attachment.png") no-repeat top left;
}

#pageWrapper #profileContent .pageRows .completed {
  padding-left: 25px;
  padding-top: 5px;
  float: left;
  background: url("../images/icons/completed.png") no-repeat top left;
}

#pageWrapper #profileContent .pageRows .creation {
  color: #999;
  font-size: 11px;
  line-height: 8px;
}

#pageWrapper #profileContent .pageRows .about {
  font-weight: bold;
  font-size: 13px;
  line-height: 10px;
}

#pageWrapper #profileContent .pageRows .attachments-file {
  font-size: 12px;
  padding-left: 20px;
  background: url("../images/icons/file.png") no-repeat left center;
}

#pageWrapper #profileContent .pageRows .attachments-pdf {
  font-size: 12px;
  padding-left: 20px;  /*background:url(../images/icons/pdf.png) no-repeat left center;*/
}

#pageWrapper #profileContent .pageRows .buttons-action {
  float: right;
  display: none;
  margin-top: 10px;
}

#pageWrapper #profileContent .pageRows tr:hover .buttons-action {
  display: inline-block;
}

#pageWrapper #profileContent .pageRows .buttons-action .edit {
  display: inline-block;
  float: left;
}

#pageWrapper #profileContent .pageRows .buttons-action .delete {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  display: inline-block;
}

#pageWrapper .pageRows table.recordList {
}

#pageWrapper .pageRows thead tr {
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
}

#pageWrapper .pageRows table.recordList th {
  vertical-align: middle;
  text-align: left;
  color: #333;
}

#pageWrapper .pageRows1 table {
  text-align: left;  /*width:18.2%;*/
  clear: both;
  margin-top: 10px;
}

#pageWrapper .pageRows table.column5 td,
#pageWrapper .pageRows table.column5 th {
  text-align: left;  /*width:18.2%;*/
  width: 10%;
}

#pageWrapper .pageRows table.column5 td.first,
#pageWrapper .pageRows table.column5 th.first {

  /*width:25%;*/
}

#pageWrapperCalendar {
  right: 20px;
  top: 80px;
  padding-bottom: 30px;
  position: absolute;
  display: block;
  background: none !important;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#pageWrapperCalendar h4.ng-binding {
  font-family: 'PT Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 22px;
  font-weight: 700;
  line-height: 55px;
  width: auto;
  color: #919195;
  text-transform: uppercase;
  position: fixed;
  height: 55px;
  z-index: 555;
  top: 0;
  margin: 0;
}

#pageWrapperCalendar table {
  width: 99.9%;
}

#pageWrapperCalendar .btn-success {
    color: #fff;
    background-color: #919195;
    border-color: #727272;
}
#pageWrapperCalendar .fc-view-container table table tr th.fc-day-header {
	line-height:40px;
	height:40px;
	background:#F78E1E;
	color:#000;
}


#pageWrapperCalendar table #inline_cbApps {
  padding-right: 170px;
  width: 100%;
}

#pageWrapperCalendar table #inline_cbApps .list {
  padding: 5px 20px 5px 55px;
  width: auto;
}

#pageWrapperCalendar table #inline_cbApps .sub-proj {
  background: #ffbf00 url("../images/icon-prod1.png") no-repeat center left;
  border-bottom: 1px solid #e4ab01;
}

#pageWrapperCalendar table #inline_cbApps .month-proj {
  background: #fdd663 url("../images/icon-prod2.png") no-repeat center left;
  border-bottom: 1px solid #ecba28;
}

#pageWrapperCalendar table #inline_cbApps .pick-month-proj {
  background: #fdebb8 url("../images/icon-prod3.png") no-repeat center left;
}

#pageWrapperCalendar table #inline_cbApps h3 span {
  color: #ac0202;
  font-weight: bold;
  font-size: 18px;
}

#pageWrapperCalendar table #inline_cbApps h3 {
  font-family: 'PT Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #000;
}

.toggleHide #pageWrapperCalendar {
  left: 70px;
  margin-top: 2px;
}

.toggleShow #pageWrapperCalendar {
  left: 200px;
}

/*Dashboard Design........................................*/
.main-dashboard table,
.main-dashboard table table tr {
  width: 100% !important;
}

.main-dashboard table table td {
  width: 33.333%;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
}

.main-dashboard .message-container {
  width: 95%;
  margin-right: 5%;
  background: #fff;
  border: 1px solid #E6E3E3;
  border-bottom: 1px solid #ccc;
  padding: 0;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.main-dashboard .message-container h2 {
  margin: 0;
  padding: 10px;
  padding-left: 20px;
  background: #F78E1E url(../images/icons/Messages_icon.png) no-repeat center right;
  text-shadow: none;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.main-dashboard .message-container .label {
  display: inline;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: #fff;
  text-align: left;
  white-space: nowrap;
  vertical-align: middle;
  background-color: transparent;
  text-transform: uppercase;
  text-shadow: none;
 
}

.main-dashboard .message-container table th {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  text-align: left;
  border-bottom: 1px solid #ccc;
  background: #fff;
  color: #919195;
  font-family: 'PT Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 15px;
  font-weight: 400;
}

.main-dashboard .message-container table tbody tr,
.main-dashboard .cases-container table tbody tr {
  padding-top: 10px;
  padding-bottom: 10px;
  height: 40px;
  font-size: 14px;
  font-family: 'PT Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.main-dashboard .message-container table tbody tr:nth-child(2n+1),
.main-dashboard .cases-container table tbody tr:nth-child(2n+1) {
  background: #f1f1f1;
}

.main-dashboard div[template-url="templates.pagination"] {
  position: absolute;
}

.main-dashboard .message-container .pagination>.active>a,
.main-dashboard .message-container .pagination>.active>a:hover,
.main-dashboard .message-container .pagination>.active>a:focus {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #F78E1E;
  outline: none;
  border: none;
}

.main-dashboard .message-container .pagination>li>a,
.main-dashboard .message-container .pagination>li>span {
  color: #919195;
  font-weight:bold;
}

/*Cases................*/
.main-dashboard .cases-container {
  width: 95%;
  background: #fff;
  border: 1px solid #E6E3E3;
  border-bottom: 1px solid #ccc;
  padding: 0;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin-bottom:30px;
}

.main-dashboard .cases-container h2 {
  margin: 0;
  padding: 10px;
  padding-left: 20px;
  text-shadow: none;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: #F78E1E url(../images/icons/Cases_icon.png) no-repeat center right;
}

.main-dashboard .cases-container .label {
  display: inline;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: #fff;
  text-align: left;
  white-space: nowrap;
  //vertical-align: middle;
  background-color: transparent;
  text-transform: uppercase;
  text-shadow: none;
  
}

.main-dashboard .cases-container table th {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  text-align: left;
  border-bottom: 1px solid #ccc;
  background: #fff;
  color: #919195;
  font-family: 'PT Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 15px;
  font-weight: 400;
}

.main-dashboard .cases-container .pagination>.active>a,
.main-dashboard .cases-container .pagination>.active>a:hover,
.main-dashboard .cases-container .pagination>.active>a:focus {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #F78E1E;
  outline: none;
  border: none;

}

.main-dashboard .cases-container .pagination>li>a,
.main-dashboard .cases-container .pagination>li>span {
  color: #919195;
  font-weight:bold;
}



/*End of Dashboard Design........................................*/

/*Portal Module List Table.......................................*/

#pageWrapper .filter-select-option {
	position:fixed;
	margin-left:300px;
}

#pageWrapper .table-bordered {
  border: 0px solid #dddddd;
  border-collapse: collapse;
  border-left: 0;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  margin-bottom: 0;
}

#pageWrapper .table-bordered>thead>tr {
  border-bottom: 0;
}

#pageWrapper .table-bordered>thead>tr>th,
#pageWrapper .table-bordered>thead>tr>td {
  border-bottom-width: 0px;
  border-left: 1px solid #dc6c07;
  border-bottom: 0;
  border-top: 0;
  border-right: 0;
  font-family: 'PT Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
  background: #F78E1E;
  text-align: left;
  padding-bottom: 0;
}

#pageWrapper .table-bordered>thead>tr>th:first-child {
  border-left: 0;
}

#pageWrapper .table-bordered>thead>tr>th.filter {
  padding-bottom: 10px;
}

#pageWrapper .ng-table th.filter .input-filter {
  background-color: #F4EFEA !important;
  border: 0px solid #407a06 !important;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#pageWrapper .ng-table th.filter .input-filter:focus {
  background-color: #fff !important;
  border: 0px solid #407a06 !important;
  outline: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#pageWrapper table tr {
  border-top: 0;
  border-bottom: 0;
  font-family: 'PT Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  font-weight: 400;
}

#pageWrapper .table-striped tbody > tr:nth-child(odd) > td,
#pageWrapper .table-striped tbody > tr:nth-child(odd) > th {
  background-color: #f1f1f1 !important;
  border: none;
  border-left: 1px solid #E2E2E2;
  border-bottom: 0;
  border-top: 0;
}

#pageWrapper .table-striped tbody > tr > td:first-child,
#pageWrapper .table-striped tbody > tr > th:first-child {
  border-left: 0px solid #bfdaa5;
}

#pageWrapper div[template-url="templates.pagination"] {
  position: absolute;
  margin-top:35px;
}

#pageWrapper .pagination>.active>a,
#pageWrapper .pagination>.active>a:hover,
#pageWrapper .pagination>.active>a:focus {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #F78E1E;
  outline: none;
  border: none;
}

#pageWrapper .pagination>li>a,
#pageWrapper .pagination>li>span {
  color: #919195;
  font-weight:bold;
}

#pageWrapper .pull-right {
  margin-left: 20px;
  margin-top: 20px;
}

#pageWrapper .new-list #viewResult {
	padding:5px;
	line-height:30px;
	font-weight:bold;
	color:#919195;
}
/*End of Portal Module List Table.......................................*/


/*Create Cases.......................................*/

#pageWrapper #profileDetails #profileHeader {
  line-height: 55px;
  width: auto;
  position: fixed;
  right: 45%;
  height: 63px;
  padding-bottom: 10px;
  z-index: 555;
  top: 0;
  margin: 0;
  color: #f78f1e;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  background: url(../images/arrow-down-white.png) no-repeat bottom center;
}

#pageWrapper #profileDetails #profileHeader .label-warning {
  padding: 0 !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  color: #919295 !important;
  background-color: transparent !important;
}

#pageWrapper #profileDetails #profileHeader h3 {
  margin: 0 !important;
  line-height: 55px;
}

#pageWrapper #profileHeader #profile-pic {
  display: none;
}

#pageWrapper #profileContent {
  padding: 1%;
  margin-top: 10px;
  display: block;
}

#pageWrapper #profileDetails {
  background: #fff;
  border: 1px solid #E6E3E3;
  border-bottom: 1px solid #ccc;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  display: inline-block;
  width: 39%;
  float: left;
  color: #666;
  font-size: 12px;
}

#pageWrapper #profileDetails .cbs-block:nth-child(odd) {
  //border-left: 1px solid #ccc;
  background: #f9f9f9;
  height: 100%;
  min-height: 600px;
  padding-bottom: 20px;
}

#pageWrapper #profileDetails .cbs-block:nth-child(odd) h2.md-title {
  background: #ccc;
  color: #666;
}

#pageWrapper #profileDetails .cbs-block h2.md-title {
  font-family: 'PT Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 18px;
  font-weight: 400;
  //background: #f78f1e;
  //color: #fff;
  margin: 0;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-transform: uppercase;
}

#pageWrapper #profileDetails md-select-label {
  font-family: 'PT Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  font-weight: 700;
  color: #f78f1e;
}

#pageWrapper #profileDetails md-input-container label,
#pageWrapper #profileDetails md-link-label {
  color: rgba(0, 0, 0, 0.9);
  font-weight: bold;
}

#pageWrapper #profileDetails .btn-primary {
  color: #fff;
  background-color: #f78f1e;
  border-color: #e27703;
}

#pageWrapper #profileDetails .btn-primary:hover {
  color: #fff;
  background-color: #e27703;
  border-color: #e27703;
}

#pageWrapper #profileDetails md-datepicker.md-default-theme,
#pageWrapper #profileDetails md-datepicker {
  background: none;
}

.md-datepicker-calendar-pane {
  background: #fff !important;
}

#pageWrapper #uploadFiles {
  float: left;
  width: 45%;
  display: inline-block;
  background: #f2f9fd;
  margin-bottom: 20px;
  border: 1px solid #E6E3E3;
  border-bottom: 1px solid #ccc;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

#pageWrapper #uploadFiles h2 {
  font-family: 'PT Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 18px;
  font-weight: 400;
  background: #f78f1e !important;
  color: #fff;
  margin: 0;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-transform: uppercase;
}

#pageWrapper #uploadFiles .col-md-3 {
  width: 100% !important;
  margin-bottom: 20px;
  padding: 20px;
  float: none;
}

#pageWrapper #uploadFiles #uploadtable {
  width: 100%;
  margin-top: 20px;
}

#pageWrapper #uploadFiles h4 {
  font-family: 'PT Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  font-weight: 700;
  color: #3399CC;
}

#pageWrapper #uploadFiles p,
#pageWrapper #uploadFiles .button-all {
  padding-left: 20px;
}

#pageWrapper #uploadFiles .progress {
  height: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  overflow: hidden;
  background-color: #fff !important;
  border: 1px solid #cfe0e9;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}

button.md-primary.md-button {
  background: #669933 !important;
  color: #fff !important;
  padding-left: 50px;
  padding-right: 50px;
  font-family: 'PT Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
}

button.md-button[ng-click="doCancel()"] {
  color: #fff !important;
  background: #e11a00 !important;
}

/*End of Create Cases.......................................*/

/*Details view.......................................*/

#profileDetails h2.md-title {
  font-family: 'PT Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 18px;
  font-weight: 700;
  background: #ccc;
  color: #666;
  margin: 0;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
  text-transform: uppercase;
}

.block_title h2.md-title {
  background: #f78f1e !important;
  color: #fff !important;
}

#profileDetails .layout-row label,
#profileDetails md-link-label {
  font-family: 'PT Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 16px !important;
  font-weight: 700 !important;
}

#profileDetails md-input-container.md-input-has-value label {
  font-family: 'PT Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 20px !important;
  font-weight: 700 !important;
}

#pageWrapper #pagerowsHeader {
  background: #ccc;
  color: #919195;
  margin: 0;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#pageWrapper #pagerowsHeader h2 {
  font-family: 'PT Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 18px;
  font-weight: 400;
  color: #000!important;
  text-transform: uppercase;
  width: auto;
  padding: 0;
  margin: 0;
  display: inline-block;
  background-color: none;
}

#pageWrapper #pagerowsHeader .label-warning {
  background-color: transparent;
}

#opportunities .layout-row {
  background-color: #fff;
  border-bottom: #ccc 1px solid;
}

#opportunities table {
  background: #fff;
  border-bottom: 1px solid #ccc;
}

#opportunities .ng-table th.sortable {
  text-align: left;
}

#pageWrapper #opportunities table tr {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #d7d7d7;
}

#pageWrapper #opportunities table tr:nth-child(odd) {
  background: #f3f7f9;
}

#pageWrapper #opportunities table tr:last-child {
  background: none;
}

#pageWrapper #opportunities table tr td {
  padding-bottom: 20px;
  padding-left: 10px;
}

#pageWrapper #opportunities table tr td:first-child {
  padding-left: 20px;
}

#opportunities table div[uploader="uploader"] {
  padding-bottom: 20px;
  margin-top: 20px;
  padding-top: 20px;
}

#opportunities table div[uploader="uploader"] textarea {
  border: 1px solid #d7d7d7;
  padding: 10px;
}

#opportunities table div[uploader="uploader"] table {
  margin-top: 10px;
}

#opportunities .interactive-timeline th:nth-child(2) {
  width: 45%;
}

.btn-grey {
  position: relative;
  padding: 4px 12px;
  margin: 0;
  color: #333;
  text-shadow: none;
  white-space: nowrap;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding;
  background-color: #f3f3f3;
  background-image: -moz-linear-gradient(top, #f5f5f5, #f1f1f1);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#f1f1f1));
  background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
  background-image: -o-linear-gradient(top, #f5f5f5, #f1f1f1);
  background-image: linear-gradient(to bottom, #f5f5f5, #f1f1f1);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#fff1f1f1', GradientType=0);
  border: 1px solid #dcdcdc;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.btn-grey:hover {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 1px 1px #ccc;
  -moz-box-shadow: 0 1px 1px #ccc;
  -webkit-box-shadow: 0 1px 1px #ccc;
  text-decoration: none;
  border: 1px solid #b1b1b1;
  color: #333;
}

/*Patient summary block*/
.summary-panel1 {
  border: 1px solid #e5e5e5;
  background: #f8f8f8;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  width: 65%;
  float: right;
  margin-top: 0;
  margin-bottom: 20px;
  padding: 0;
  display: table;
}

.column31 .column.first {
  border-left: 0 solid #e5e5e5;
}

.column31 .column {
  text-align: center;
  border-left: 1px solid #e5e5e5;
  display: table-cell;
  min-height: 70px;
  padding: 10px 0 15px;
  margin: 0;  /*width: 33.33333333%;*/
  font-family: 'Open Sans', "Helvetica", Arial;
  -webkit-font-smoothing: antialiased;
}

.summary-panel1 h3 {
  text-transform: uppercase;
  color: #999;
  font-size: 11px;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

.summary-panel1 p.large {
  font-size: 16px;
  font-weight: 700;
  padding: 0;
  margin: 0;
}

.pageRows1 {
  border: 0 solid #e5e5e5;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  display: inline-block;
  width: 68%;
  float: right;
  margin-top: 0;
  padding: 0 0 20px 40px;
}

#pagerowsHeader1 {
  display: block;
  background: none;
  padding: 0;
  height: 80px;
  border-bottom: 0 solid #e5e5e5;
}

#pagerowsHeader1 h2 {
  font-family: 'Open Sans', "Helvetica", Arial;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  font-weight: 700;
  color: #333;
  line-height: 20px;
  width: auto;
  padding: 0;
  margin: 0;
  display: inline-block;
}

#pagerowsHeader1 #evaluation {
  font-family: 'Open Sans', "Helvetica", Arial;
  -webkit-font-smoothing: antialiased;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  display: inline-block;
  width: 100%;
  margin-top: 10px;
}

#pagerowsHeader1 #evaluation #poor-value {
  display: inline-block;
  color: #e4694c;
  border-top: 7px solid #e4694c;
  padding-top: 5px;
  width: 32%;
  margin-right: 1.5%;
  text-align: center;
}

#pagerowsHeader1 #evaluation #room-value {
  display: inline-block;
  color: #da9800;
  border-top: 7px solid #ebbf5a;
  padding-top: 5px;
  width: 33%;
  margin-right: 1.5%;
  text-align: center;
}

#pagerowsHeader1 #evaluation #good-value {
  display: inline-block;
  color: #4ebc5b;
  border-top: 7px solid #4ebc5b;
  padding-top: 5px;
  width: 32%;
  margin-right: 0;
  text-align: center;
}

.pageRows1 #evaluation-icons {
  width: 280px;
  height: 385px;
  background: url("../images/icons-for-evaluation.png") no-repeat left top;
  position: absolute;
  margin-left: -290px;
  margin-top: -52px;
}

.pageRows1 table {
  padding-left: 0.9%;
  padding-right: 0.9%;
  border-top: 1px solid #ccc;
  border-right: solid #ccc;
}

.pageRows1 table tr {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
  display: inline-block;
  width: 100%;
}

.pageRows1 table td {
  vertical-align: middle;
}

.pageRows1 .note {
  padding-left: 25px;
  padding-right: 25px;
  width: 150px;
  padding-top: 5px;
  float: left;
  border-right: 1px dashed #ccc;
}

.pageRows1 .note p {
  font-family: 'Open Sans', "Helvetica", Arial;
  -webkit-font-smoothing: antialiased;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #696662;
}

.pageRows1 .note p.attachments-pdf {
  font-family: 'Open Sans', "Helvetica", Arial;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.pageRows1 .note p.attachments-pdf.poor {
  color: #e3694b;
}

.pageRows1 .note p.attachments-pdf.good {
  color: #4ebb5b;
}

.pageRows1 .graphic-table {
  width: 235px;
  height: 150px;
  background: url("../images/graphic-table.png") no-repeat left top;
  margin-left: 20%;
}

.pageRows1 .graphic-line {
  width: 235px;
  height: 95px;
  background: url("../images/graphic-line.png") no-repeat left top;
  margin-left: 20%;
}

pageRows1 .attachments-pdf {
  font-size: 12px;
  padding-left: 20px;
}

md-owner-container {
  a {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    display: block;
    background: none;
    border-width: 0 0 1px 0;
    line-height: 100px;
    -ms-flex-preferred-size: 26px;
    border-radius: 0;
    margin: 0;
    padding-top: 4px;

    md-link-edit {
      color: black;
    }

  }

  md-link-edit {
    padding-top: 4px;
    font-size: 0.75em;
    color: rgba(0, 0, 0, 0.54);
  }

}

.input__label--editable {
  position: absolute;
  width: 100%;
  text-align: left;
  pointer-events: none;
  color: #d2d2d2;
}

.icon--editable {
  display: inline-block;
  opacity: 0;
  //margin-top: 1.5em;
  -webkit-transform: translate3d(3em, 0, 0);
  transform: translate3d(3em, 0, 0);
  float: right;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
}

.input__field--editable:hover + .input__label--editable .input__label-content--editable,
.input--filled .input__label-content--editable {
  opacity: 0;
}

.input__label-content--editable,
.icon--editable,
.input__field--editable:hover + .input__label--editable .input__label-content--editable,
.input--filled .input__label-content--editable {
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.input__field--editable:hover + .input__label--editable .icon--editable,
.input--filled .icon--editable {
  opacity: 1;
  -webkit-transform: translate3d(-40px, 0, 0);
  transform: translate3d(-40px, 0, 0);
}

table a:link {
  color: #666;
  font-weight: bold;
  text-decoration: none;
}

table a:visited {
  color: #999999;
  font-weight: bold;
  text-decoration: none;
}

table a:active,
table a:hover {
  color: #bd5a35;
  text-decoration: underline;
}

table {
  // font-family: Arial, Helvetica, sans-serif;
  // color: white;
  // font-size: 12px;
  // //text-shadow: 1px 1px 0px #fff;
  // background: #eaebec;
  // margin: 0 px;
  //
  //
  // -moz-border-radius: 3px;
  // -webkit-border-radius: 3px;
  // border-radius: 3px;
  //
  // -moz-box-shadow: 0 1px 2px #d1d1d1;
  // -webkit-box-shadow: 0 1px 2px #d1d1d1;
  // box-shadow: 0 1px 2px #d1d1d1;
}

table th {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  background: #fff;
  color: #212121;
  font-family: 'PT Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  font-weight: 400;
}

table th:first-child {
  text-align: left;
  padding-left: 20px;
}

table tr:first-child th:first-child {
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
}

table tr:first-child th:last-child {
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
}

table tr {
  text-align: center;
  padding-left: 20px;
}

table td:first-child {
  text-align: left;
  padding-left: 20px;
  border-left: 0;
}

table td {
}

table tr.even td {
  background: #f6f6f6;
  background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
  background: -moz-linear-gradient(top, #f8f8f8, #f6f6f6);
}

table tr:last-child td {
}

table tr:last-child td:first-child {
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

table tr:last-child td:last-child {
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.layout-padding > .flex {
  width: 100%;
}

md-input-container {
  padding-bottom: 5px !important;
}

.layout-padding > .flex {
  padding-bottom: 0px !important;
}

th {
  color: white;
  text-shadow: none !important;
}

.cbs-block {
  float: left;
  width: 50%;
}

.cbs-form-button {
  position: absolute;
  bottom: 30px;
  left: 5px;
  //width: 100%;
}

.cbs-fw {
  width: 100% !important;
}

.cbs-right_border {
  border-right: 1px solid #ccc;
}

.cbs-left_border {
  border-left: 1px solid #ccc;
}

.cbs-ct {
  width: 100% !important;  
}

.cbs-cn {
  width: 60% !important;  
}

.cbs-hcs {
  width: 100% !important;
}

.cbs-bcs {
  width: 33.333% !important;
}