<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="bower_components/RWD-Table-Patterns/dist/css/rwd-table.min.css">
  <link rel="stylesheet" href="bower_components/trNgGrid/release/trNgGrid.min.css">
  <link rel="stylesheet" href="bower_components/angular-xeditable/dist/css/xeditable.css">
  <link rel="stylesheet" href="bower_components/signature-pad/assets/jquery.signaturepad.css">
  <!--[if lt IE 9]><script src="bower_components/signature-pad/assets/flashcanvas.js"></script><![endif]-->
  <link rel="stylesheet" href="css/corebosjs.css"/>
  <link rel="stylesheet" href="css/timecontrol.css"/>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/fontawesome/4.3.0/css/font-awesome.css">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="//mgcrea.github.io/angular-strap/styles/libs.min.css">
    <link rel="stylesheet" href="//mgcrea.github.io/angular-strap/styles/docs.min.css">
    <link rel="stylesheet" href="style.css" />
    <script src="//cdn.jsdelivr.net/angularjs/1.4.5/angular.min.js" data-semver="1.4.5"></script>
    <script src="//cdn.jsdelivr.net/angularjs/1.4.5/angular-animate.min.js" data-semver="1.4.5"></script>
    <script src="//cdn.jsdelivr.net/angularjs/1.4.5/angular-sanitize.min.js" data-semver="1.4.5"></script>
    <script src="//mgcrea.github.io/angular-strap/dist/angular-strap.js" data-semver="v2.3.5"></script>
    <script src="//mgcrea.github.io/angular-strap/dist/angular-strap.tpl.js" data-semver="v2.3.5"></script>
    <script src="//mgcrea.github.io/angular-strap/docs/angular-strap.docs.tpl.js" data-semver="v2.3.5"></script>
    
<div id="wrapp-login-page">

<div id="main-login-form">
  <!-- <label for="chglang" style="clear: left;">{{'Change language to'|i18next}}:</label>
  <select 
    ng-model="currentLang"
    ngSelected="currentLang"
    ng-options="lng.name for lng in langs track by lng.code"
    ng-change="changeLanguage(currentLang);" name="chglang" id="chglang">
  </select>
  <br><br>-->
  <div class="main-logo"></div>

<div class="left-photo-login"></div>

<div class="form-login">
<div class="header-form"></div>

<script>
$('[type=password]').keypress(function(e) {
  var $password = $(this),
      tooltipVisible = $('.tooltip').is(':visible'),
      s = String.fromCharCode(e.which);
  
  //Check if capslock is on. No easy way to test for this
  //Tests if letter is upper case and the shift key is NOT pressed.
  if ( s.toUpperCase() === s && s.toLowerCase() !== s && !e.shiftKey ) {
    if (!tooltipVisible)
      $password.tooltip('show');
  } else {
    if (tooltipVisible)
      $password.tooltip('hide');
  }
  
  //Hide the tooltip when moving away from the password field
  $password.blur(function(e) {
    $password.tooltip('hide');
  });
});
</script>
<style>
  
.modal-backdrop {
  z-index: -1;
}
  
</style>

<form role="form" name="loginForm" ng-submit="login()" ng-class="{submitted:submitted}" novalidate>
  <div class="form-group">
    <label for="username">{{'Utente'|i18next}}</label><br/>
    <input type="text"
    class="form-control username"
    name="username"
    
    ng-model="username"
    id="search"
    placeholder="E-mail Address"
    required />
  </div>
  <div class="form-group">
    <label for="password">{{'Password'|i18next}}</label>
    <input type="password"
    class="form-control password"
    name="txtPassword"
    data-toggle="tooltip"
    data-trigger="manual"
    data-title="Caps Lock Is On"
    onkeypress="capLock(event)"
    ng-model="password"
    id="password"
    placeholder="Password"
    required />
  </div>
  <div class="form-submit-login"><button type="btn" class="btn btn-primary btn-block">{{'Login'|i18next}}</button></div>
</form>
<br>
<div class="alert alert-danger" style="clear: left;" ng-show="ErrorUserNotValid">
<alert type="danger" ng-bind-html="'coreBOSAPIInvalidKeys' | i18next"></alert>
</div>
</div>
<div align="right"><a href="" style="color: #000000" text-align:'right'class="sign-up" data-target="#loginModal" width:'100px' data-toggle="modal" >Forgot Password</a></div>
</div>


<!-- <p class="text-center">
    <button class="btn btn-default" data-toggle="modal" data-target="#loginModal">Forgot Password</button>
</p> -->

<div class="modal fade" id="loginModal" tabindex="-1" role="dialog"  aria-hidden="true" style="z-index :10000;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div style="background:#f0ad4e" class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 align="center" class="modal-title">Reset Password</h4>
            </div>

            <div class="modal-body">
                <!-- The form is placed inside the body of modal -->
                <form id="loginForm1" method="post" class="form-horizontal">
                    <div class="form-group">
                       <h4> <label for="username"> &nbsp &nbsp{{'Utente'|i18next}}</label><br/></h4>
                        <input type="text"
                        class="form-control username"
                        name="username"
                        ng-model="username"
                        id="search"
                        placeholder="E-mail Address"
                        required />                  
                    </div>
                    <div class="form-group"  &nbsp>
            
      <div  align="center "class="col-xs-5 col-xs-offset-3">
      <button type="button" class="btn btn-warning" ng-click="sendemailreset()" data-dismiss="modal">Send</button>
      <button type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
 <div class="footer-login">
 
 </div>

 </div>
