<div id="close_open_button" onclick="toggleClass(body)"></div>
    <ul>
        <li  ng-class="{'active': isActive('/portal_home') }" class="dashboard">
            <a  href="#/portal_home">
                {{'Home'| i18next}}
            </a>
        </li>
        <li ng-class="{'active': isActive('/portal_calendar') }" class="Calendario">
            <a  href="#/portal_calendar">
                {{'Calendar'| i18next}}
            </a>
        </li>
    </ul>
    <ul ng-repeat="mitems in selectedmodule" style="margin-top:0px;" ng-if="iscustomer">
            <li style="color:white;">
                    {{mitems.title | i18next}}&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; --------   
            </li>
            <li ng-repeat="mitem in mitems.values" class="{{mitem.item}}" ng-class="{'active': isActive('/portal_module/{{mitem.item}}/{{mitem.item}}','/portal_dashboards/{{mitem.item}}/{{mitem.item}}') }">
                <a  ng-if="mitem.entitytype!=3" href="#/portal_module/{{mitem.item}}/{{mitem.item}}">
                            {{mitem.item | i18next}}
                </a>
                <a  ng-if="mitem.entitytype==3" href="#/portal_dashboards/{{mitem.item}}/{{mitem.item}}">
                            {{mitem.item | i18next}}
                </a>
            </li>
    </ul> 
    <ul  style="margin-top:0px;" ng-if="!iscustomer">
            <li ng-repeat="mitem in selecttypes" class="{{mitem.name}}" ng-class="{'active': isActive('/portal_module/{{mitem.name}}/{{mitem.item}}','/portal_dashboards/{{mitem.name}}/{{mitem.item}}') }">
                <a  href="#/portal_module/{{mitem.name}}/{{mitem.item}}">
                            {{mitem.item | i18next}}
                </a>
            </li>
    </ul> 
