
  <div id="search_bar" class="inline">
      <!--<img id="profile-pic" src="{{url}}/themes/images/logo-portal.png"  style="height:80px;" width="90" height="30" sttle>&nbsp;&nbsp;&nbsp;
      <img id="profile-pic" src="{{url}}/themes/images/saldi.png" width="90" height="30">-->
  </div>
  <div  ng-show="showlog.log" class="change-password-block" >
  <div class="content">
      <!--<img id="profile-pic" src="{{url}}/themes/images/logo-portal.png"  style="height:80px;" width="90" height="30" sttle>&nbsp;&nbsp;&nbsp;
      <img id="profile-pic" src="{{url}}/themes/images/saldi.png" width="90" height="30">-->
        <h2>{{'Change Password' | i18next}}</h2>
        <p> {{'' | i18next}}<input type="password" ng-model="newpass" placeholder="{{'New Password' | i18next}}"/></p>
         <p>{{'' | i18next}}<input type="password" ng-model="confirmpass" placeholder="{{'Confirm' | i18next}}"/></p>
      <p><input type="button" ng-click="change_pass(newpass,confirmpass)" class="resetbutt" value="{{'Reset' | i18next}}"/>
      <input type="button" ng-click="showlog.log=false;newpass='';confirmpass='';" class="cancelbutt" value="{{'Cancel' | i18next}}"/></p>
      </div>
  </div>
  
      <div class="edit-profile-block" ng-show="showlog.edit" >
      <div class="content">
      <h2>{{'Edit Profile' | i18next}}</h2>
      <ul>
        <li>{{'Title' | i18next}}<br /><input type="text" ng-model="cont.title"/></li>
        <li>{{'Last Name' | i18next}}<br /><input type="text" ng-model="cont.lastname"/></li>
        <li>{{'First Name' | i18next}}<br /><input type="text" ng-model="cont.firstname"/></li>
        <li>{{'Language' | i18next}}<br /><select ng-model="cont.cf_969" ng-options="op as op.label for op  in opt track by op.value"></select></li>
        <li>{{'Company Role' | i18next}}<br /><select ng-model="cont.cf_972" ng-options="op as op.label for op  in opt_cf_972 track by op.value"></select></li>
        <li>{{'Birth Date' | i18next}}<br /><input type="text" ng-model="cont.birthdate"/></li>
        <li>{{'Email' | i18next}}<br /><input type="text" ng-model="cont.email"/></li>
        <li>{{'Cellular Nr' | i18next}}<br /><input type="text" ng-model="cont.cf_970"/></li>
        <li>{{'Private Phone' | i18next}}<br /><input type="text" ng-model="cont.cf_971"/></li>
        <li>{{'Office Phone' | i18next}}<br /><input type="text" ng-model="cont.phone"/></li>
      <p><input type="button" ng-click="edit_profile(cont)" class="savebutt" value="{{'Save' | i18next}}"/>
      <input type="button" ng-click="showlog.edit=false;retrieveContact();"class="cancelbutt"  value="{{'Cancel' | i18next}}"/></p>
      </ul>
      </div>
    </div> 
    
    <div class="topHeader-right">                     
    <div id="profileWrapper" class="inline dropDown">
     <div id="profile_more_actions"><img id="profile-pic" src="{{url}}/{{user_image}}"><span class="profile-name">{{user_first_name}} {{user_lastname}}</span></div>
     <div class="menuAction">
     <ul>
      <!--<li class="preferences"><a >My Preferences</a></li>-->
      <!--<li class="help"><a href="#/emailus">Help</a></li>-->
      <!--<li class="look"><a href="#">Try New Look</a></li>-->
      <li class="logout"><a href="#/logout">{{'Logout' | i18next}}</a></li>
      <li class="change-password"><a ng-click="showlog.log=true">{{'Change Password' | i18next}}</a></li>
      <li class="edit-profile"><a ng-click="showlog.edit=true">{{'Edit Profile' | i18next}}</a></li>
      <li class="edit-profile"><a ng-click="reload_trans();">{{'Reload Translation' | i18next}}</a></li>
     </ul>
     </div>
    </div>
    

   <!-- <div id="add_new_actions" class="inline dropDown">
    <div id="more_actions">Aggiungi Nuovo<span class="arrow"></span></div>
     <div class="menuAction">
      <ul>
        <li><a href="#/portal_moduleview/Task/Task">Attività</a></li>
      </ul>
    </div> 
    </div> -->
    </div><!-- topHeader-right -->
