<link rel="stylesheet" href="bower_components/bootstrap-css/css/bootstrap.css" />
<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
<link type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<div id="topHeader" ng-controller="navtop" ng-include="'partials/navtop.html'"></div>
<div id="leftNavigation" ng-controller="navigationCtrl" ng-include="'partials/navside.html'"></div>
<!-- leftNavigation -->
<div id="pageWrapper">
    <div class="pageLeft">
        <div id="pageHeader">
            <h2 class="alert alert-warning">{{moduleLabel | i18next}}</h2>
            <div class="button-add"><a href="#/portal_createview/{{module}}" ng-show="createable">{{'Add' | i18next}} {{moduleLabel | i18next}}</a></div>
            <div ng-show="module=='Cases1'" class="filter-select-option">
                <select ng-model="filter_fld" >
                    <option value="cf_902">{{'Type' | i18next}}</option>
                    <option value="cf_987">{{'Status' | i18next}}</option>
                </select>
                <select ng-model="searchText.$">
                    <option ng-repeat="fld in opt[filter_fld]" value="{{fld}}">{{fld | i18next}}</option>
                </select>
            </div>
        </div>
        <div >
            <table ng-table-dynamic="tableParams with cols" show-filter="true" class="table table-bordered table-striped">
                <tr style="cursor: pointer;" ng-repeat="row in $data track by row.id" ng-click="followRecord(row)">
                    <td ng-repeat="col in $columns" ng-bind-html="::row[col.field] | i18next | sanitize "></td>
                </tr>
            </table>
            <!-- <table ng-table-dynamic="tableParams with cols" show-filter="true" class="table table-bordered table-striped">
                <tr ng-repeat="row in $data track by row.id">
                    <td height="10" data-title="labels[0]" header-class="'text-left'" sortable='fields[0]' filter="custom_filter()">
                        <span class="name">
                            <a href="#/portal_moduleview/{{module}}/{{row.id}}" ng-bind-html="row[fields[0]]"></a>
                        </span>
                    </td>
                    <td height="10" data-title="labels[1]" header-class="'text-right'" ng-bind-html="row[fields[1]]"></td>
                    <td height="10" data-title="labels[2]" header-class="'text-right'" ng-bind-html="row[fields[2]]"></td>
                    <td height="10" data-title="labels[3]" header-class="'text-right'" ng-bind-html="row[fields[3]]"></td>
                    <td height="10" data-title="labels[4]" header-class="'text-right'" ng-bind-html="row[fields[4]]"></td>
                    <td height="10" data-title="labels[5]" header-class="'text-right'" ng-bind-html="row[fields[5]]"></td>
                    <td height="10" data-title="labels[6]" header-class="'text-right'" ng-bind-html="row[fields[6]]">
                        <span class="name" ng-if="module=='Documents1'">
                            <a ng-click="runAction(11298532, row['fileid'] + ',' + row['entityid'], checkboxes.items);">Ristampa</a>
                        </span>
                    </td>
                </tr>
            </table> -->
        </div>
        <div class="new-list" ng-show="labels">
            <div id="viewResult">{{ (moduleList | filter:searchText:strict).length }} {{'of' | i18next}} {{myPageItemsCount}} {{'Records' | i18next}} {{'Found' | i18next}}</div>
        </div>
    </div>
    <div ng-include="'partials/portal_list_actions.html'" ng-show="false"></div>
</div>
