 <link rel="stylesheet" href="bower_components/bootstrap-css/css/bootstrap.css" />
 <div id="topHeader" ng-controller="navtop"  ng-include="'partials/navtop.html'"></div>
<div id="leftNavigation" ng-controller="navigationCtrl"  ng-include="'partials/navside.html'"></div><!-- leftNavigation -->

<div id="pageWrapperCalendar">
        <div class="alert-success calAlert" ng-show="alertMessage != undefined && alertMessage != ''">
            Cases No:  <b>{{casesno}}</b><br/>
            Cases Name:  <b>{{casesname}}</b><br/>
            Description:  <b>{{description}}</b>
        </div>
      <div class="btn-toolbar">
        <div class="btn-group">
            <button class="btn btn-success" ng-click="changeView('agendaDay', 'myCalendar1')">{{'Day' | i18next}}</button>
            <button class="btn btn-success" ng-click="changeView('agendaWeek', 'myCalendar1')">{{'Week' | i18next}}</button>
            <button class="btn btn-success" ng-click="changeView('month', 'myCalendar1')">{{'Month' | i18next}}</button>
        </div>
      </div>
    <div class="calendar" ng-model="eventSources" calendar="myCalendar1" ui-calendar="uiConfig.calendar"></div>

</div>
