<div id="topHeader" ng-controller="navtop" ng-include="'partials/navtop.html'"></div>
<div id="leftNavigation" ng-controller="navigationCtrl" ng-include="'partials/navside.html'"></div>
<!-- leftNavigation -->
<div id="pageWrapper" class="createview">
  <div class="pageContent profile-view">
    
    <div id="profileDetails" ng-if="retrieveable" style="margin-bottom: 30px;" class="" ng-class="{'cbs-ct': module=='Cases', 'cbs-cn': module!='Cases'}">
      <form editable-form name="accountForm">
        <div id="profileHeader">
          <div id="profile-pic"> </div>
        <span class="name">{{'Add' | i18next}}  {{module | i18next}}</a>
      </span>
      <br/><a href="http://{{website}}">{{website}}</a>
    </div>
    <div ng-if="portalBlock" style="" ng-repeat="block in blocks" class="cbs-block" ng-class="{'block_title' : $first, 'cbs-right_border' : $first, 'cbs-left_border' : $last, 'cbs-bcs': module=='Cases', 'cbs-hcs': module!='Cases'}">
      <!-- <md-subheader class="md-no-sticky">{{block.blockname}}</md-subheader> -->
      <h2 class="md-title">{{getBlockLabel(block.blockname)}}</h2>
      <br/>
      <br/>
      <div layout="" layout-sm="column" layout-padding ng-repeat="rows in block.rows" ng-if="showLogicRow(rows)">
        <span flex="" layout="column" ng-repeat="columns in rows">
          <md-link-label ng-if="getModuleType(columns,modulefields)=='file'">{{getModuleLabel(columns,modulefields)}}</md-link-label>
          <input ng-if="getModuleType(columns,modulefields)=='file'" type="file" file-upload /> 
          <md-input-container>
          <label ng-if="getModuleType(columns,modulefields)!='date' && getModuleType(columns,modulefields)!='picklist' && getModuleType(columns,modulefields)!='boolean' && getModuleType(columns,modulefields)!='autogenerated' && getModuleType(columns,modulefields)!='reference'  && getModuleType(columns,modulefields)!='owner'  && getModuleType(columns,modulefields)!='multipicklist' && getModuleType(columns,modulefields)!='file'"
          ng-show="showLogic(columns)">{{getModuleLabel(columns,modulefields)}}</label>
          <md-select-label ng-if="getModuleType(columns,modulefields)=='picklist' && showLogic(columns)">{{getModuleLabel(columns,modulefields)}}</md-select-label>
          <input ng-if="getModuleType(columns,modulefields)=='string' && showLogic(columns)" aria-label="{{columns}}" ng-readonly="!{{moduleEditable[columns]}}" ng-required='{{moduleMandatory[columns]}}' name="{{columns}}" ng-model="moduleData[columns]">
          <input ng-if="getModuleType(columns,modulefields)=='phone' && showLogic(columns)" aria-label="{{columns}}" ng-readonly="!{{moduleEditable[columns]}}" ng-required='{{moduleMandatory[columns]}}' name="{{columns}}" ng-model="moduleData[columns]">
          <input ng-if="getModuleType(columns,modulefields)=='url' && showLogic(columns)" aria-label="{{columns}}" ng-readonly="!{{moduleEditable[columns]}}" ng-required='{{moduleMandatory[columns]}}' name="{{columns}}" ng-model="moduleData[columns]">
          <input ng-if="getModuleType(columns,modulefields)=='email' && showLogic(columns)" type="email" aria-label="{{columns}}" ng-readonly="!{{moduleEditable[columns]}}" ng-required='{{moduleMandatory[columns]}}' name="{{columns}}" ng-model="moduleData[columns]">
          <input ng-if="getModuleType(columns,modulefields)=='integer' && showLogic(columns)" aria-label="{{columns}}" ng-readonly="!{{moduleEditable[columns]}}" ng-required='{{moduleMandatory[columns]}}' name="{{columns}}" ng-model="moduleData[columns]">
          <input ng-if="getModuleType(columns,modulefields)=='double' && showLogic(columns)" aria-label="{{columns}}" ng-readonly="!{{moduleEditable[columns]}}" ng-required='{{moduleMandatory[columns]}}' name="{{columns}}" ng-model="moduleData[columns]">
          <input ng-if="getModuleType(columns,modulefields)=='currency' && showLogic(columns)" aria-label="{{columns}}" ng-readonly="!{{moduleEditable[columns]}}" ng-required='{{moduleMandatory[columns]}}' name="{{columns}}" ng-model="moduleData[columns]">
          <input ng-if="getModuleType(columns,modulefields)=='datetime' && showLogic(columns)" aria-label="{{columns}}" ng-readonly="!{{moduleEditable[columns]}}" ng-required='{{moduleMandatory[columns]}}' name="{{columns}}" ng-model="moduleData[columns]">
          <input ng-if="getModuleType(columns,modulefields)=='time' && showLogic(columns)" aria-label="{{columns}}" ng-readonly="!{{moduleEditable[columns]}}" ng-required='{{moduleMandatory[columns]}}' name="{{columns}}" ng-model="moduleData[columns]">
          <input ng-if="getModuleType(columns,modulefields)=='autogenerated' && showLogic(columns)" aria-label="{{columns}}" ng-readonly="!{{moduleEditable[columns]}}" ng-required='{{moduleMandatory[columns]}}' name="{{columns}}" ng-model="moduleData[columns]">
          
          <md-checkbox ng-if="getModuleType(columns,modulefields)=='boolean' && showLogic(columns)" aria-label="{{columns}}" ng-readonly="!{{moduleEditable[columns]}}" ng-required='{{moduleMandatory[columns]}}' ng-model="moduleData[columns]" aria-label="Checkbox">
          </md-checkbox>
          <label ng-if="getModuleType(columns,modulefields)=='boolean'" ng-show="showLogic(columns)">{{getModuleLabel(columns,modulefields)}}</label>
          <textarea ng-if="getModuleType(columns,modulefields)=='text' && getModuleLabel(columns,modulefields)=='Subject' && showLogic(columns)" aria-label="{{columns}}" ng-required='{{moduleMandatory[columns]}}' name="{{columns}}" ng-model="moduleData[columns]" columns="1" md-maxlength="25"></textarea>
          <textarea ng-if="getModuleType(columns,modulefields)=='text' && getModuleLabel(columns,modulefields)!='Subject' && showLogic(columns)" aria-label="{{columns}}" ng-required='{{moduleMandatory[columns]}}' name="{{columns}}" ng-model="moduleData[columns]" columns="1" md-maxlength="500"></textarea>
          <md-link-label ng-if="getModuleType(columns,modulefields)=='owner'" ng-show="showLogic(columns)">{{getModuleLabel(columns,modulefields)}}</md-link-label>
          <div ng-if="getModuleType(columns,modulefields)=='owner' && showLogic(columns)">
            <div style="width:100%" class="input__field input__field--editable" title="{{columns}}" data-content="{{'Select' | i18next}} {{getModuleLabel(columns,modulefields) | i18next}}" data-placement="right-bottom" data-template-url="popupOwner.tpl.html" data-animation="am-flip-x" data-auto-close="1" bs-popover>
              <a href="#/portal_moduleview/Users/{{moduleData[columns]}}">{{thisOwner}}</a>
            </div>
            <label class="input__label input__label--editable">
              <i class="icon--editable material-icons">edit</i>
            </label>
          </div>
          <md-link-label ng-if="getModuleType(columns,modulefields)=='reference' && showLogic(columns)">{{getModuleLabel(columns,modulefields)}}</md-link-label>
          <div ng-if="getModuleType(columns,modulefields)=='reference' && showLogic(columns)">
            <div ng-if="shouldDisableAfterVin(columns)" style="width:100%" class="input__field input__field--editable">
              <a ng-if="ui10Readable[columns]=='Empty'" href="" style="color: red">{{ui10Readable[columns] | i18next}}</a>
              <a ng-if="ui10Readable[columns]!='Empty'" href="" style="color: red">{{ui10Readable[columns] | i18next}}</a>
              <!-- <a ng-if="ui10Readable[columns]!='Empty'" href="#/portal_moduleview/{{type10referals[columns]}}/{{moduleData[columns]}}">{{ui10Readable[columns]}}</a> -->
            </div>
            <div ng-if="!shouldDisableAfterVin(columns)" style="width:100%" class="input__field input__field--editable" title="{{field.label}}" data-content="{{'Select' | i18next}} {{getModuleLabel(columns,modulefields) | i18next}}" data-placement="right-bottom" data-template-url="popupRef.tpl.html" data-animation="am-flip-x" data-auto-close="1" bs-popover>
              <a ng-if="ui10Readable[columns]=='Empty'" href="">{{ui10Readable[columns] | i18next}}</a>
              <a ng-if="ui10Readable[columns]!='Empty'" href="">{{ui10Readable[columns] | i18next}}</a>
              <!-- <a ng-if="ui10Readable[columns]!='Empty'" href="#/portal_moduleview/{{type10referals[columns]}}/{{moduleData[columns]}}">{{ui10Readable[columns]}}</a> -->
            </div>
            <label class="input__label input__label--editable">
              <i class="icon--editable material-icons">edit</i>
            </label>
          </div>
          <div ng-if="getModuleType(columns,modulefields)=='evomultireference' && showLogic(columns)">
            <div style="width:100%" class="input__field input__field--editable" title="{{field.label}}" data-content="{{'Select' | i18next}} {{getModuleLabel(columns,modulefields) | i18next}}" data-placement="center-bottom" data-template-url="popupEvoMultiRef.tpl.html" data-animation="am-flip-x" data-auto-close="1" bs-popover>
              <a href="">Click to Choose</a>
            </div>
            <label class="input__label input__label--editable">
              <i class="icon--editable material-icons">edit</i>
            </label>
            <md-chips  placeholder="" secondary-placeholder="" ng-model="uiEvoReadable[columns]" readonly="true"></md-chips>
          </div>
          <md-select ng-if="getModuleType(columns,modulefields)=='picklist' && showLogic(columns)" style="padding: 5px;" aria-label="{{columns}}" ng-required='{{moduleMandatory[columns]}}' ng-model="moduleData[columns]" placeholder="">
          <md-option ng-repeat="c in getPickListVal(columns, modulefields) | getPickListDep:map_field_dep:columns:MAP_PCKLIST_TARGET:moduleData" aria-label="{{c.label}}"  value="{{c.value}}">{{c.value | i18next}}</md-option> {{c}}
          </md-select>
          <md-chips ng-if="getModuleType(columns,modulefields)=='multipicklist' && showLogic(columns)" ng-model="moduleData.{{columns}}" md-autocomplete-snap md-require-match>
          <md-autocomplete md-selected-item="ctrl.selectedItem" md-search-text="ctrl.searchText" md-items="item in getPickListVal(columns, modulefields)" md-item-text="item.label" placeholder="Search for a value">
          <span md-highlight-text="searchText">{{item.label}} :: {{item.value}}</span>
          </md-autocomplete>
          <md-chip-template>
          <span>
            <strong>{{$chip.name}}</strong>
            <em>({{$chip.type}})</em>
          </span>
          </md-chip-template>
          </md-chips>
          <md-link-label ng-if="getModuleType(columns,modulefields)=='multipicklist' && showLogic(columns)">{{columns}}</md-link-label>
          <div ng-if="field.type=='multipicklist' && showLogic(columns)" style="width:100%" title="{{columns}}" data-content="Pick desired options" data-placement="right-bottom" data-template-url="popupMultiselect.tpl.html" data-animation="am-fade-and-slide-top"
            data-auto-close="1" bs-popover>
            <div class="input__field input__field--editable">
              <md-chips ng-model="chipSelectedOptions[field.field]" aria-label="{{columns}}" readonly="true"></md-chips>
            </div>
            <label class="input__label input__label--editable">
              <i class="icon--editable material-icons">edit</i>
            </label>
          </div>
         
          <am-date-picker ng-if="getModuleType(columns,modulefields)=='date' && showLogic(columns)" 
              ng-model="moduleData[columns]"
              ng-readonly="!{{moduleEditable[columns]}}" 
              am-input-label="{{getModuleLabel(columns,modulefields)}}"
              am-today-button="Today"
              am-max-date="todaydate" flex="" >
          </am-date-picker>
          <div style="color:red;">{{getMandatoryText(columns)}}</div> 

         </md-input-container>

          <!-- <md-datepicker ng-if="getModuleType(columns,modulefields)=='date' && showLogic(columns)" flex="" layout="column"  aria-label="{{columns}}" ng-readonly="!{{moduleEditable[columns]}}" ng-change="adjustDateS(columns, formatedDates[columns])" ng-model="formatedDates[columns]"
          md-placeholder="Enter date"></md-datepicker> 
          <md-chips class="custom-chips" ng-model="ctrl.vegObjs" readonly="ctrl.readonly" md-transform-chip="ctrl.newVeg($chip)">
              <md-chip-template>
                <span>
                  <strong>[{{$index}}] {{$chip.name}}</strong>
                  <em>({{$chip.type}})</em>
                </span>
              </md-chip-template>
              <button md-chip-remove class="md-primary closeButton">
                <md-icon md-svg-icon="md-close"></md-icon>
              </button>
          </md-chips>
          -->

          


        </span>
      </div>
    </div>


    <div ng-if="!portalBlock" layout="" layout-sm="column" ng-repeat="row in modulefieldList">
      <span flex="" layout="column" ng-repeat="field in row">
        <md-input-container>
        <label ng-if="field.type!='picklist' && field.type!='boolean' && field.type!='autogenerated' && field.type!='reference'  && field.type!='owner'">{{field.label}}</label>
        <md-select-label ng-if="field.type=='picklist'">{{field.label}}</md-select-label>
        <input ng-if="field.type=='string'" autocomplete="off" typeahead="usr for usr in usrs | filter:$viewValue | limitTo:8" ng-readonly="!{{moduleEditable[field.field]}}" ng-change="saveModule(field.field, moduleData[field.field], field)" ng-required='field.label'
        name="{{field.field}}" ng-model="moduleData[field.field]">
        <input ng-if="field.type=='email'" ng-change="saveModule(field.field, moduleData[field.field])" ng-readonly="!{{moduleEditable[field.field]}}" type="email" ng-required='{{moduleMandatory[field.field]}}' name="{{field.field}}" ng-model="moduleData[field.field]">
        <input ng-if="field.type=='integer'" ng-change="saveModule(field.field, moduleData[field.field])" ng-readonly="!{{moduleEditable[field.field]}}" ng-required='{{moduleMandatory[field.field]}}' name="{{field.field}}" ng-model="moduleData[field.field]">
        <input ng-if="field.type=='currency'" ng-change="saveModule(field.field, moduleData[field.field])" ng-readonly="!{{moduleEditable[field.field]}}" ng-required='{{moduleMandatory[field.field]}}' name="{{field.field}}" ng-model="moduleData[field.field]">
        <textarea ng-if="field.type=='text'" ng-change="saveModule(field.field, moduleData[field.field])" ng-readonly="!{{moduleEditable[field.field]}}" ng-required='{{moduleMandatory[field.field]}}' name="{{field.field}}" ng-model="moduleData[field.field]" columns="1"
        md-maxlength="1000"></textarea>
        <input ng-if="field.type=='autogenerated'" ng-hide="true" ng-readonly="!{{moduleEditable[field.field]}}" ng-change="debounceUpdate(field)" ng-required='{{moduleMandatory[field.field]}}' name="{{field.field}}" ng-model="moduleData[field.field]">
        <md-select ng-if="field.type=='picklist'" style="padding: 5px;" ng-change="saveModule(field.field, moduleData[field.field])" ng-required='{{moduleMandatory[field.field]}}' ng-model="moduleData[field.field]" placeholder="{{field.label}}">
        <md-option ng-repeat="c in field.picklistValues" value="{{c.value}}">{{c.label}}</md-option>
        </md-select>
        <input ng-if="field.type=='phone'" ng-change="saveModule(field.field, moduleData[field.field])" ng-readonly="!{{moduleEditable[field.field]}}" ng-required='{{moduleMandatory[field.field]}}' name="{{field.field}}" ng-model="moduleData[field.field]">
        <input ng-if="field.type=='url'" ng-change="saveModule(field.field, moduleData[field.field])" ng-readonly="!{{moduleEditable[field.field]}}" ng-required='{{moduleMandatory[field.field]}}' name="{{field.field}}" ng-model="moduleData[field.field]">
        <md-checkbox ng-if="field.type=='boolean'" ng-change="saveModule(field.field, moduleData[field.field])" ng-required='{{moduleMandatory[field.field]}}' ng-model="moduleData[field.field]" aria-label="Checkbox">
        {{ field.label }}
        </md-checkbox>
        <input ng-if="field.type=='datetime'" ng-readonly="!{{moduleEditable[field.field]}}" ng-required='{{moduleMandatory[field.field]}}' ng-model="moduleData[field.field]" type="text" name="{{field.field}}">
        <input ng-if="field.type=='time'" ng-readonly="!{{moduleEditable[field.field]}}" ng-required='{{moduleMandatory[field.field]}}' type="text" size="8" ng-model="moduleData[field.field]">
        <md-link-label ng-if="field.type=='reference'">{{field.label}}</md-link-label>
        <div ng-if="field.type=='reference'">
          <div style="width:100%" class="input__field input__field--editable" title="{{field.label}}" data-content="{{'Select' | i18next}} {{getModuleLabel(columns,modulefields) | i18next}}" data-placement="right-bottom" data-template-url="popupRef.tpl.html" data-animation="am-flip-x" data-auto-close="1" bs-popover>
            <a ng-if="ui10Readable[field.field]=='Empty'" href="#/portal_moduleview/">{{ui10Readable[field.field]}}</a>
            <a ng-if="ui10Readable[field.field]!='Empty'" href="">{{ui10Readable[field.field]}}</a>
            <!-- <a ng-if="ui10Readable[field.field]!='Empty'" href="#/portal_moduleview/{{type10referals[field.field]}}/{{moduleData[field.field]}}">{{ui10Readable[field.field]}}</a> -->
          </div>
          <label class="input__label input__label--editable">
            <i class="icon--editable material-icons">edit</i>
          </label>
        </div>
        <md-link-label ng-if="field.type=='owner'">{{field.label}}</md-link-label>
        <div ng-if="field.type=='owner'">
          <div style="width:100%" class="input__field input__field--editable" title="{{field.label}}" data-content="{{'Select' | i18next}} {{getModuleLabel(columns,modulefields) | i18next}}" data-placement="right-bottom" data-template-url="popupOwner.tpl.html" data-animation="am-flip-x" data-auto-close="1" bs-popover>
            <a href="#/portal_moduleview/Users/{{moduleData[field.field]}}">{{thisOwner}}</a>
          </div>
          <label class="input__label input__label--editable">
            <i class="icon--editable material-icons">edit</i>
          </label>
        </div>
        </md-input-container>
        <md-datepicker flex="" layout="column" ng-if="field.type=='date'" ng-readonly="!{{moduleEditable[field.field]}}" ng-required='{{moduleMandatory[field.field]}}' ng-change="adjustDateS(field.field, formatedDates[field.field])" name="{{field.field}}" ng-model="formatedDates[field.field]"
        md-placeholder="Enter date"></md-datepicker>
      </span>
    </div>
    <div class="cbs-form-button" >
      <md-button class="md-primary" ng-click="saveModule(moduleData)">{{'SUBMIT' | i18next}}</md-button>
      <md-button type="button" ng-click="doCancel()">{{'CANCEL' | i18next}}</md-button>
    </div>
  </form>
</div>
<!--
    <div ng-if="module=='Cases'" id="uploadFiles"  ng-include="'partials/portal_uploadFiles.html'"></div>
    <div ng-if="module=='Documents' && !iscreateview" id="uploadFiles" ng-controller="DocsRelated" ng-include="'partials/portal_uploadFiles.html'"></div>
    <div ng-if="module=='Documents' && iscreateview" id="uploadFiles" ng-controller="CreateViewCtrlRelation"  ng-include="'partials/portal_uploadFiles.html'"></div>
-->
</div>
</div>
