<td ng-switch on="fields.fieldtype">
    <input type="text" ng-switch-when="Textbox" />
    <input type="text" ng-switch-when="Checkbox" />
    <input type="text" ng-switch-when="Date" />
    <input type="text" ng-switch-when="UItype10" />
    <input type="text" ng-switch-when="Picklist" />
</td>