<div id="topHeader" ng-controller="navtop"  ng-include="'partials/navtop.html'"></div>
<div id="leftNavigation" ng-controller="navigationCtrl"  ng-include="'partials/navside.html'"></div><!-- leftNavigation -->

<div id="pageWrapper">
<div class="pageContent profile-view">
    
<div ng-app id="pageHeader">
<h2 ng-model="name"class="alert alert-warning" ng-bind-html="''+formatText(accountname) "></h2>
<!--<div id="tags"><span class="actual_tags"> </span> <a href="#"> </a></div>-->
</div><!-- pageHeader -->

<div ng-include="'partials/portal_pageTabs.html'" ></div>
<div id="profileContent">
<div ng-include="'partials/portal_profileDetails.html'" ></div>
    <!-- profileDetails -->
<div ng-if="relmodule!==module" ng-include="'partials/portal_relatedList.html'"></div>
<div ng-if="relmodule==module  && module!='Vitals'" ng-include="'partials/portal_summary.html'"></div>
<!-- pageRows -->

</div><!-- profileContent -->
</div>
</div>
