 <link rel="stylesheet" href="bower_components/bootstrap-css/css/bootstrap.css" />
   <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
 
 <div id="topHeader" ng-controller="navtop"  ng-include="'partials/navtop.html'"></div>
<div id="leftNavigation" ng-controller="navigationCtrl"  ng-include="'partials/navside.html'"></div><!-- leftNavigation -->

<div id="pageWrapper">
    <div class="pageContent profile-view">

        <div id="pageHeader">
        <h2 class="title">{{name_dashboard}}</h2>
        </div><!-- pageHeader -->
        
        <div id="profileContent">
            <div ng-include="'partials/portal_tabConfig.html'" ></div>
            <div ng-include="'partials/portal_Results.html'"></div>
        </div>
    </div>
</div>