<div nv-file-drop="" uploader="uploader" filters="queueLimit, customFilter">
 <h2 class="upload-title">{{'Upload' | i18next}} {{'File' | i18next}}</h2>
      <div class="col-md-3">

        <!--<div ng-show="uploader.isHTML5">-->
        <!-- 3. nv-file-over uploader="link" over-class="className" -->
        <!--  <div class="well my-drop-zone" nv-file-over="" uploader="uploader">
          Base drop zone
        </div>
        <!-- Example: nv-file-drop="" uploader="{Object}" options="{Object}" filters="{String}" -->
        <!-- <div nv-file-drop="" uploader="uploader" options="{ url: '/foo' }">
          <!--<div nv-file-over="" uploader="uploader" over-class="another-file-over-class" class="well my-drop-zone">
            Another drop zone with its own settings
          </div>
        </div>
      </div>-->
      <!-- Example: nv-file-select="" uploader="{Object}" options="{Object}" filters="{String}" -->
      <h4>{{'Multiple' | i18next}}</h4>
      <input type="file" nv-file-select="" uploader="uploader" multiple />
      <br/> <h4>{{'Single' | i18next}}</h4>
      <input type="file" nv-file-select="" uploader="uploader" />
    </div>
    <p>{{'Queue length' | i18next}}: {{ uploader.queue.length }}</p>
    <table id="uploadtable"  style="table-layout:fixed">
      
      <thead >
        <tr>
          <th >{{'Name' | i18next}}</th>
          <th ng-show="uploader.isHTML5">{{'Size' | i18next}}</th>
          <th >{{'Status' | i18next}}</th>
          <th>{{'Actions' | i18next}}</th>
        </tr>
      </thead>
      <tbody  style="table-layout:fixed;width=40%">
        <tr ng-repeat="item in uploader.queue">
          <td><p style=" word-wrap: break-word">
            
            {{ item.file.name }}
            
            
          </p  ></td>
          <td ng-show="uploader.isHTML5">{{ item.file.size/1024/1024|number:2 }} MB</td>
          
          <div class="progress" style="margin-bottom: 0;">
            <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
          </div>
        </td>
        <td  class="text-center">
          <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
          <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
          <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
        </td>
        <td >
          <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
          <span class="glyphicon glyphicon-upload"></span> {{'Upload' | i18next}}
          </button>
          <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
          <span class="glyphicon glyphicon-ban-circle"></span> {{'Cancel' | i18next}}
          </button>
          <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove();removeitem(item.file);">
          <span class="glyphicon glyphicon-trash"></span> {{'Remove' | i18next}}
          </button>
        </td>
      </tr>
    </tbody>
    <div>
      <div>
        <p>{{'Queue progress' | i18next}}:</p>
        <div class="progress" style="">
          <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
        </div>
      </div>
      <div class="button-all">
      <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
      <span class="glyphicon glyphicon-upload"></span> {{'Upload' | i18next}} {{'all' | i18next}}
      </button>
      <button type="button" class="btn btn-warning btn-s" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
      <span class="glyphicon glyphicon-ban-circle"></span> {{'Cancel' | i18next}} {{'all' | i18next}}
      </button>
      <button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
      <span class="glyphicon glyphicon-trash"></span> {{'Remove' | i18next}} {{'all' | i18next}}
      </button>
      </div>
    </div>
  </table>

</div>