
<form editable-form name="relateForm" onaftersave="doCreateRel()">
<div id="opportunities" class="pageRows">
    <div id="pagerowsHeader">
        <h2 class="title">{{relmodule | i18next}} {{'of' | i18next}} {{accountname}}</h2>
        <div id="buttons" ng-show="false">
          <a href="#/portal_createview/{{relmodule}}/{{module}}/{{recordid}}/{{relfield}}" class="add-action"><span class="icon">+</span>{{'Add' | i18next}} {{relmodule | i18next}}</a>
        </div> 
    </div><!-- pageHeader -->

    <table  width="100%" border="0" class="table table-condensed">
        <thead>
            <tr class="warning">
                <th ng-repeat="head in fieldlabels" scope="col" ng-bind-html="head"></th>
            </tr>
        </thead>
        <tbody>
        <tr class="warning" ng-repeat="row in relRecordList">
            <td ng-repeat="head in fields">
                <span ng-if="$index==0" ><a href="#/portal_moduleview/{{relmodule}}/{{row['id']}}" ng-bind-html="row[head]"></a></span>
                <span ng-if="$index!=0" ng-bind-html="row[head]"></span>
            </td>
        </tr>
        <tr ng-show="relateForm.$visible">
            <td ng-repeat="head in fields" ng-bind-html="head">
                <span editable-text="entity.{{head}}" e-name="entity.{{head}}" id="entity.{{head}}" ng-bind-html="entity.head">
                </span>
            </td>
        </tr>
        </tbody>
    </table>

</div><!-- pageRows -->
</form>

