<div id="profileDetails" >
<div id="profileHeader">
  <tabset justified="true">
    <tab ng-repeat="tabs in structure" heading="{{tabs.info.tab_label}}" >
       <accordion close-others="oneAtATime">
            <accordion-group ng-repeat="blocks in tabs.blocks" heading="{{blocks.blocklabel}}" id="{{blocks.blockid}}">
                <div>
                <table border=0 cellspacing=0 cellpadding=0 width="100%" style="width:100%;">
                    <tr ng-repeat="fields in blocks.fields" ng-init="sec_col=$index+1 ">
                        <td style="text-align: left;" width="70">
                            {{fields.fieldlabel}}
                        </td>
                        <td ng-switch on="fields.fieldtype" style="text-align: right;" width="100"> 
                            <input type="text" ng-switch-when="Textbox" ng-model="fldValues[blocks.blockid][fields.fieldname]" style="height:33px;"/>
                            <input type="checkbox" ng-switch-when="Checkbox" ng-model="fldValues[blocks.blockid][fields.fieldname]"/>
                            <input type="date" ng-switch-when="Date" style="width:70px;" ng-model="fldValues[blocks.blockid][fields.fieldname]"/>
                            <input type="text" ng-switch-when="UItype10" />
                            <select name="field"  tabindex="10" ng-switch-when="Filter" ng-model="fldValues[blocks.blockid][fields.fieldname]">
                                <option  value="282" selected>PickandPay merce da spedire</option>
                                <option  value=""></option>
                            </select>
                            <select name="field"  tabindex="10" ng-switch-when="Picklist" ng-model="fldValues[blocks.blockid][fields.fieldname]">
                                    <option ng-repeat="(key, value) in fields.fieldvalue" value="{{key}}">{{value}}</option>
                            </select><!--ng-repeat="(key, value) in fields.fieldvalue"-->
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-left:110px;text-align: left;" colspan="2">
                            <input type="button" value="{{cerca_name}}" class="add-action" ng-disabled="enable_cerca"
                                         ng-click="findResults(blocks.blockid,fldValues[blocks.blockid])" />
                        </td>
                    </tr>
                    
                </table>
                    </div>
            </accordion-group>
       </accordion>
    </tab>
  </tabset>
    <div class="profileEdit">	
    </div>
</div>
</div>