<div class="summary-panel1 column31">
  <div class="column  first">
   <h3>Prossima Visita</h3>
   <p class="large"><a href="#/portal_moduleview/Visit/64x{{visitid}}">{{visitname}}</a></p>
   </div>
    <div class="column  first">
   <h3>Ultima Prescrizione</h3>
   <p class="large"><a href="#/portal_moduleview/Prescription/66x{{prescriptionid}}">{{prescriptionname}}</a></p>
   </div>

</div>

<div id="summary" class="pageRows1">
<div id="pagerowsHeader1">
<h2 class="title">Parametri Vitali</h2>
<div id="evaluation">
<div id="poor-value"></div><div id="room-value"></div><div id="good-value"></div>
</div>
<div id="buttons">
 <!-- <a class="add-action" href="#"><span class="icon">+</span></a>-->
</div>
</div><!-- pageHeader -->
<!--<div id="evaluation-icons"></div>-->
<div>
    <nvd3 options="options" 
          data="data">
    </nvd3></div>
<table width="100%" border="0">
  <tr>
    <td>  
    
    </td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    
  </tr>
  
  <!-- issues -->
<tr ng-repeat="records in issues" >
    <td>
    {{records.issuesname}}&nbsp;&nbsp; {{records.idaffidamento}}
    </td>
    
  </tr>

</table>

</div>