<div id="pageTabs" >
 <ul>
    <li ng-class="{'active': relmodule==module }">
        <a  ng-click="showRel(module)" >{{'Main Info' | i18next}}</a>

    </li> 
    <li ng-repeat="mitem in relatedmodules" 
        ng-class="{'active': relmodule==mitem.module }">
        <a ng-click="showRel(mitem.module,mitem.relfield)">{{mitem.module_trans | i18next}}</a>
    </li> 
</ul>
</div>