<span ng-if="module=='Cases'">
    <div id="opportunities" class="pageRows">
        <div id="pagerowsHeader">
        <h2 style="color:white" class="label label-warning">{{'Interactive Timeline' | i18next}}</h2>
        </div><!-- pageHeader -->
        <table width="100%"  border="0" ng-table="tableParamsMessages" style="table-layout:fixed;width:100%;padding-left: 0px;" class="interactive-timeline">
            <tr>
                <td header-class="'text-left'" style="text-align: left;padding-top:15px;width:3%;padding-right: 0px;margin-right: 0px;">
                    {{'Name' | i18next}} 
                </td>
                <td header-class="'text-left'" width="80%" style="text-align: left;padding-top:15px;width:84%;padding-right: 10px;margin-right: 0px;border-left: 1px solid #dad8d8;">
                    {{'Description' | i18next}}
                </td>
                <td  header-class="'text-left'"  style="text-align: left;padding-top:15px;width:3%;padding-right: 10px;margin-right: 0px;border-left: 1px solid #dad8d8;">
                    {{'Created' | i18next}}
                </td>
                <td header-class="'text-left'"style="text-align: left;padding-top:15px;width:3%;padding-right: 10px;margin-right: 0px;border-left: 1px solid #dad8d8;">
                    {{'assigned' | i18next}}
                </td>
                 
            </tr>
            <tr ng-repeat="records in $data ">
                <td  header-class="'text-left'" sortable="'entityname'" style="text-align: left;padding-top:15px;width:3%;padding-right: 0px;margin-right: 0px;">
                    <span class="name">
                      <!--<span><a href="#/portal_moduleview/{{records.setype}}/{{records.id}}" ng-bind-html="records['entityname']"></a></span>-->
                       <span ng-if="records.setype=='Documents'"><a  href="#/portal_moduleview/{{records.setype}}/{{records.id}}">{{records['entityname']}}</a><br/><a ng-click="findattachment(records['id'])">{{'Preview' | i18next}}</a></span>
                       <span ng-if="records.setype=='Messages'"><a  href="#/portal_moduleview/{{records.setype}}/{{records.id}}"   ng-bind-html="records['entityname']"></a></span>
                    </span>
                </td>
                <td header-class="'text-left'"  width="80%" sortable="'description'" style="text-align: left;padding-top:15px;width:84%;padding-right: 10px;margin-right: 0px;border-left: 1px solid #dad8d8;">
                    <span class="name">
                        <span ng-bind-html="records['description'] | sanitize"></span>
                    </span>
                </td>
                <td  header-class="'text-left'" sortable="'createdtime'" style="text-align: left;padding-top:15px;width:3%;padding-right: 10px;margin-right: 0px;border-left: 1px solid #dad8d8;">
                    <span class="name">
                        <span ng-bind-html="records['createdtime']"></span>
                    </span>
                </td>
                <td  header-class="'text-left'" sortable="'assigned_user_id'" style="text-align: left;padding-top:15px;width:3%;padding-right: 10px;margin-right: 0px;border-left: 1px solid #dad8d8;">
                    <span class="name">
                        <span ng-bind-html="records['assigned_user_id']"></span>
                    </span>
                </td>                 
            </tr>
            <tr>
                <td colspan="3">
                    <div>
                      <div class="container" style="width:600px;">
                          <div layout="" layout-sm="column" >
                            <span flex="" layout="column" >
                              <md-input-container>
                                  <label>{{'Description' | i18next}}</label>
                                <textarea  name="message.desc_mess" ng-model="message.desc_mess" 
                                       columns="1" md-maxlength="1000"></textarea>
                               </md-input-container>
                            </span>
                            </div>
                          
                        <div class="row">
                            <table >
                                   <tr>
                                       <td style="border-bottom:1px solid #ffffff;border-left: 1px solid #ffffff;">
                                           <button type="button" class="btn btn-success btn-xs" ng-click="createMessage(message.desc_mess)" ng-disabled="message.desc_mess=='' ">
                                          <span class="glyphicon glyphicon-upload"></span>{{'Add' | i18next}} {{'Messages' | i18next}}
                                        </button>
                                       </td>
                                       <td style="border-bottom:1px solid #ffffff;border-left: 1px solid #ffffff;">
                                           <input type="file"  />
                                       </td>
                                       <td style="border-bottom:1px solid #ffffff;border-left: 1px solid #ffffff;">
                                           <table id="uploadtable" >
                                              <tbody >
                                                <tr >
                                                  <td>
                                                    <button type="button" class="btn btn-success btn-xs" ng-click="" >
                                                      <span class="glyphicon glyphicon-upload"></span> {{'Upload' | i18next}}
                                                    </button>
                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>
                                       </td>
                                   </tr>
                            </table>
                        </div>
                      </div>
                    </div>
                </td>
            </tr>
        </table>

    </div><!-- pageRows -->
</span>
