<link rel="stylesheet" href="bower_components/bootstrap-css/css/bootstrap.css" />
<div id="topHeader" ng-controller="navtop"  ng-include="'partials/navtop.html'"></div>
<div id="leftNavigation" ng-controller="navigationCtrl"  ng-include="'partials/navside.html'"></div><!-- leftNavigation -->
<style>
.widget {
    margin: 0 1em 0 0;
    background-color: white;
    border: 2px solid #444;
    border-radius: 5px;
    position: relative;
    height: 100%;
    width: 150px;
    text-align:center;
}
</style>
<div id="pageWrapperCalendar" class="main-dashboard">
    <h4>&nbsp;&nbsp;{{accountname}}</h4>
 <table   width=100% align=center border="0" >
    <tr>
        <td style="vertical-align:top; width:20%;" align=center >
      
      <div class="message-container" >
          <h2 align="left"> 
              <span class="label label-primary">{{ 'wait_answer' | i18next}} </span>
              <span class="label label-primary">
              - <a href="#/portal_createview/Cases">{{'Add' | i18next}} {{'Cases' | i18next}}</a>
              </span>
          </h2>                  
           <table ng-table-dynamic="tableParamsCases with cols_Cases" show-filter="false" >
                <tr style="cursor: pointer;" ng-repeat="row in $data " ng-click="followRecord_case(row)">
                    <td ng-repeat="col in $columns" ng-bind-html="::row[col.field]"></td>
                </tr>
            </table>
            </div>
        </td>
        
        <td style="vertical-align:top; width:20%;" align=center >
        <div class="edit-profile-block" ng-show="showlog.assigned" >
          <div class="content" style="max-width:1000px;" >
          <h2>{{'assigned' | i18next}}</h2>
          <table ng-table-dynamic="tableParamsCases_assigned_data with cols_Cases" show-filter="false" >
                <tr style="cursor: pointer;" ng-repeat="row in $data " ng-click="followRecord_case(row)">
                    <td ng-repeat="col in $columns" ng-bind-html="::row[col.field]"></td>
                </tr>
            </table>
          <input type="button" ng-click="showlog.assigned=false;" class="savebutt"  value="{{'Cancel' | i18next}}"/></p>
          </div>
        </div>
        <div class="edit-profile-block" ng-show="showlog.waiting" >
          <div class="content" style="max-width:1000px;" >
          <h2>{{'wait_answer' | i18next}}</h2>
          <table ng-table-dynamic="tableParamsCases with cols_Cases" show-filter="false" >
                <tr style="cursor: pointer;" ng-repeat="row in $data " ng-click="followRecord_case(row)">
                    <td ng-repeat="col in $columns" ng-bind-html="::row[col.field]"></td>
                </tr>
            </table>
          <input type="button" ng-click="showlog.waiting=false;" class="savebutt"  value="{{'Cancel' | i18next}}"/></p>
          </div>
        </div>
        <div class="edit-profile-block" ng-show="showlog.to_be_assigned" >
          <div class="content" style="max-width:1000px;" >
          <h2>{{'to_be_assigned' | i18next}}</h2>
          <table ng-table-dynamic="tableParamsCases_tobe_data with cols_Cases" show-filter="false" >
                <tr style="cursor: pointer;" ng-repeat="row in $data " ng-click="followRecord_case(row)">
                    <td ng-repeat="col in $columns" ng-bind-html="::row[col.field]"></td>
                </tr>
            </table>
          <input type="button" ng-click="showlog.to_be_assigned=false;" class="savebutt"  value="{{'Cancel' | i18next}}"/></p>
          </div>
        </div>
        <div class="edit-profile-block" ng-show="showlog.resolved" >
          <div class="content" style="max-width:1000px;" >
          <h2>{{'resolved' | i18next}}</h2>
          <table ng-table-dynamic="tableParamsCases_resolved_data with cols_Cases" show-filter="false" >
                <tr style="cursor: pointer;" ng-repeat="row in $data " ng-click="followRecord_case(row)">
                    <td ng-repeat="col in $columns" ng-bind-html="::row[col.field]"></td>
                </tr>
            </table>
          <input type="button" ng-click="showlog.resolved=false;" class="savebutt"  value="{{'Cancel' | i18next}}"/></p>
          </div>
        </div>
        <div class="cases-container">
        <h2 align="left">  <span class="label label-primary">{{ 'Summary' | i18next}}</span></h2>
            <table width="100%"  border="0"style="padding-left: 0px;">
                    <tr >
                        <td data-title="'Status'" header-class="'text-left'" >
                            <span class="name">
                                <a ng-click="showlog.waiting=true"><span class="msg-title">{{'wait_answer' | i18next}}</span></a>
                            </span>
                        </td>
                        <td data-title="'Nr of Cases'" header-class="'text-left'" >
                            <span class="name">
                                <span ng-bind-html="nr_waiting"></span>
                            </span>
                        </td>
                    </tr>
                    <tr >
                        <td data-title="'Status'" header-class="'text-left'" >
                            <span class="name">
                                <a ng-click="showlog.assigned=true"><span class="msg-title">{{'assigned' | i18next}}</span></a>
                            </span>
                        </td>
                        <td data-title="'Nr of Cases'" header-class="'text-left'">
                            <span class="name">
                                <span ng-bind-html="nr_assigned"></span>
                            </span>
                        </td>
                    </tr>
                    <tr >
                        <td data-title="'Status'" header-class="'text-left'">
                            <span class="name">
                                <a ng-click="showlog.to_be_assigned=true"><span class="msg-title">{{'to_be_assigned' | i18next}}</span></a>
                            </span>
                        </td>
                        <td data-title="'Nr of Cases'" header-class="'text-left'">
                            <span class="name">
                                <span ng-bind-html="nr_tobe"></span>
                            </span>
                        </td>
                    </tr>
                    <tr >
                        <td data-title="'Status'" header-class="'text-left'">
                            <span class="name">
                                <a ng-click="showlog.resolved=true"><span class="msg-title">{{'resolved' | i18next}}</span></a>
                            </span>
                        </td>
                        <td data-title="'Nr of Cases'" header-class="'text-left'">
                            <span class="name">
                                <span ng-bind-html="nr_resolved"></span>
                            </span>
                        </td>
                    </tr>
                </table>  
            </div>
            <div id="inline_cbApps" >
               <!-- <div class="modal-header">
                     <button class="btn btn-warning" ng-click="cancel()">Back to Dashboard</button>
                     
                </div> ng-show="show_inline"
               <div class="sub-proj list"><h3>Hai <span class="value">{{sub_proj}}</span> prodotti caricati da spedire in assistenza </h3></div>
               <div class="month-proj list"><h3>Hai gestito <span class="value">{{month_proj}}</span> prodotti in questo mese</h3></div>
               <div class="pick-month-proj list"><h3>Hai spedito <span class="value">{{pick_month_proj}}</span> prodotti nel mese</h3></div>

                <div ng-switch on="type" ng-show="false">
                    <nvd3 options="optionsgraphRecords" 
                          data="graphRecords"
                          ng-switch-when="Graph">
                    </nvd3>
                    <table width="100%" border="0"  ng-switch-when="Table">
                        Pratiche Gestite nel mese<br/><br/>
                        <tr>
                            <td ng-repeat="head in headers" scope="col" ><b>{{head}}</b></td>
                        </tr>
                        <tbody>
                        <tr ng-repeat="row in graphRecords">
                            <td ng-repeat="head in fields" scope="col">
                                <span> {{row[head]}} </span>
                            </td>
                        </tr>
                        </tbody>
                   </table>
                </div>-->
            </div>
        </td>
    </tr>
    <tr>
        <td style="vertical-align:top; width:20%;" align=center >

        </td>
        <td style="vertical-align:top; width:20%;" align=center >
           <div class="cases-container">
           <h2 align="left">  <span class="label label-primary">{{ 'Messages' | i18next}}</span></h2>
           <table ng-table-dynamic="tableParamsMessages with cols_Message" show-filter="false" >
                <tr style="cursor: pointer;" ng-repeat="row in $data " ng-click="followRecord_mess(row)">
                    <td ng-repeat="col in $columns" ng-bind-html="::row[col.field]"></td>
                </tr>
            </table>
            </div> 
        </td>
    </tr>
 </table>
 <table  align=center border="0" ng-show="false">
    <tr>               
         <td ng-repeat="widget in widgets">
             <div class="widget" >
                <br/><span ng-click="put_inline(widget.module,widget.module_trans);"><b>{{widget.module_trans}}</b><span>
            </div>
         </td>                
     </tr>
</table>

</div>
