<div id="more_list_actions" class="pageRight">

<ul>
    <li ng-repeat="mitem in relatedactions" class="csv">
        <a ng-click="runAction(mitem.actionid,fldValuesParam,checkboxes.items);">
            {{mitem.reference}}</a><br />
        {{mitem.description}}
    </li>
</ul>
</div>