<div class="summary-panel column3" style="text-align: center;">
    <div class="column  first" style="text-align: center;margin-left:250px;">
       <h3>Results</h3>
   </div>
</div>
<div id="opportunities" class="pageRows">
<table width="100%" style="width:100%;" border="0" ng-table="tableParams" ng-show="show_results" >
       <tr>
            <td style="text-align: left;width:3%;" >
                <input type="checkbox" ng-model="select_all" id="select_all" 
                    name="filter-checkbox" ng-click="selectAll();"/>
            </td>
            <!--<td width="5%" style="text-align: left;">
                <b>Title</b><br/>
            </td>-->
            <td ng-repeat="fieldlabel in  fieldlabels" style="text-align: left;padding-top:15px;width:14%;padding-right: 0px;margin-right: 0px;">
                <b ng-bind-html="fieldlabel"></b>
            </td>
            <td style="text-align: left;width:50%;padding-right: 0px;margin-right: 0px;padding-top:15px;margin-left:-7px;">
                <b>Descrizione Articolo</b>
            </td>
      </tr>
      <tr ng-repeat="records in $data">
            <td width="1%" style="text-align: left;width:3%;" >
                <input type="checkbox" ng-model="checkboxes.items[records.recordid]" />
            </td>
            <!--<td width="5%" style="text-align: left;" widht="5">
                <a href="#/portal_moduleview/{{records.vtmodule}}/{{records.vtmodulews}}x{{records.recordid}}">{{records.recordname}}</a>
            </td>-->
            <td height="10" ng-repeat="(key, value) in  columns" style="height:15px;padding-top:15px;text-align: left;width:14%;padding-right: 0px;margin-right: 0px;">
                <span>{{records[value]}}</span>
            </td>
            <td height="10" style="text-align: left;width:50%;height:15px;padding-top:15px;padding-right: 0px;margin-right: 0px;margin-left:-7px;">
                <span ng-if="records['descrizionearticolo']!=null" ng-bind-html="records['descrizionearticolo']"></span>
                <span ng-if="records['descrizionearticolo_2']!=null" ng-bind-html="records['descrizionearticolo_2']"></span>
            </td>
      </tr>
</table>
    
<div id="pagerowsHeader" ng-include="'partials/portal_ActionFields.html'" ng-if="tot_length>0"></div>
</div> 

<!--
<div id="opportunities" class="pageRows"> 
    <table width="100%" border="0" ng-table="tableParams" ng-show="show_results"  class="recordList column5">
       
       <tr ng-repeat="records in $data">
            <td width="1%" style="text-align: left:width:1%" header="'ng-table/headers/checkbox.html'">
                <input type="checkbox" ng-model="checkboxes.items[records.recordid]" />
            </td>
            <td data-title="'Title'" width="5%" >
                <a href="#/portal_moduleview/{{records.vtmodule}}/{{records.vtmodulews}}x{{records.recordid}}">{{records.recordname}}</a>
            </td >
            <td ng-repeat="(key, value) in  columns" width="5%" data-title="getTitle($index)">
                {{records[value]}}
            </td>
      </tr>
    </table>
    <div id="pagerowsHeader" ng-include="'partials/portal_ActionFields.html'"></div>
</div>
<script type="text/ng-template" id="ng-table/headers/checkbox.html">
    <input type="checkbox" ng-model="select_all" id="select_all" 
                    name="filter-checkbox"  ng-click="selectAll();"/>
</script>
-->