<div class="popover" tabindex="-1" ng-show="content">
  <div class="arrow"></div>
  <h3 class="popover-title" ng-bind-html="title" ng-show="title"></h3>
  <div class="popover-content">
    <form name="popoverForm">
      <p ng-bind-html="content" style="min-width:300px"></p>
      <div class="form-group">
        <div class="input-group">

          <md-button md-no-ink class="md-primary" ng-click="hidden=true">{{'Users' | i18next}}</md-button>
          <md-button md-no-ink class="md-primary" ng-click="hidden=false">{{'Groups' | i18next}}</md-button>

          <ui-select ng-hide="hidden == false" ng-animate="animate" ng-model="person.selected" on-select="ownerUpdated($item, $model)" theme="bootstrap" ng-disabled="false" style="min-width: 240px;">
            <ui-select-match placeholder="Select a person in the list...">{{$select.selected.name || thisOwner}}</ui-select-match>
            <ui-select-choices ng-hide="!$select.open" repeat="person in usersList | propsFilter: {name: $select.search, id: $select.search}">
              <div ng-bind-html="person.name | highlight: $select.search"></div>
              <small>
                ID:
                <span ng-bind-html="''+person.id | highlight: $select.search"></span>
              </small>
            </ui-select-choices>
          </ui-select>

          <ui-select ng-hide="hidden == true" ng-animate="animate" ng-model="group.selected" on-select="ownerUpdated($item, $model)" theme="bootstrap" ng-disabled="false" style="min-width: 240px;">
            <ui-select-match placeholder="Select a group in the list...">{{$select.selected.name || thisOwner}}</ui-select-match>
            <ui-select-choices ng-hide="!$select.open" repeat="group in groupList | propsFilter: {name: $select.search, id: $select.search}">
              <div ng-bind-html="group.name | highlight: $select.search"></div>
              <small>
                ID:
                <span ng-bind-html="''+group.id | highlight: $select.search"></span>
              </small>
            </ui-select-choices>
          </ui-select>

        </div>
      </div>
      <div class="form-actions">
        <button type="button" class="btn btn-primary" style="border-radius: 0px;" ng-click="$hide()">{{'Close' | i18next}}</button>
      </div>
    </form>
  </div>
</div>
