<div class="popover" tabindex="-1" ng-show="content">
  <div class="arrow"></div>
  <h3 class="popover-title" ng-bind-html="title" ng-show="title"></h3>
  <div class="popover-content">
    <form name="popoverForm">
      <p ng-bind-html="content" style="min-width:300px"></p>
    <div class="form-group">
        <input type="text" ng-model="searchText.$" placeholder="{{'Select' | i18next}}..."/>
        <table ng-table="tableParams{{columns}}" class="table  table-bordered table-responsive">
            <tr ng-repeat="user in $data" class="dvtCellLabel" >
                <td ng-click="refUpdated(user,$model, columns);$hide();searchText.$='';">
                    {{user.name}}<br/>
                    <small  ng-if='columns=="vinproducts"'>
                        <span ng-bind-html="''+productvin[user.id]"></span>
                    </small>
                    <small ng-if='columns=="productcase" '>
                        {{'Brand Name' | i18next}}: 
                    <span ng-bind-html="''+brandname[user.id] "/><br>
                        {{'Commercial Family' | i18next}}: 
                    <span ng-bind-html="''+comfamily[user.id] "/>
                    </small>
                </td> 
            </tr>
        </table>
       <!-- 
                <ui-select ng-if="portalBlock" ng-animate="animate" ng-model="person.selected" on-select="refUpdated($item, $model, columns)" theme="bootstrap" ng-disabled="false" style="min-width: 240px;">
                    <ui-select-match placeholder="Select a value in the list...">{{$select.selected.name || thisOwner}}</ui-select-match>
                    <ui-select-choices ng-hide="!$select.open" repeat="val in type10list.{{type10referals[columns]}} | propsFilter: {name: $select.search, id: $select.search}">
  
                        <div  ng-bind-html="val.name | highlight: $select.search"></div>
                        <small  ng-if='columns=="vinproducts"'>
                          <span ng-bind-html="''+productvin[val.id]| highlight: $select.search"></span>
                        </small>
                        <small ng-if='columns=="productcase" '>
                            Brand Name: 
            <span ng-bind-html="''+brandname[val.id] | highlight: $select.search"/><br>
                            Commercial Family: 
            <span ng-bind-html="''+comfamily[val.id] | highlight: $select.search"/>
                        </small>
                    </ui-select-choices>
                </ui-select>
                <ui-select ng-if="!portalBlock" ng-animate="animate" ng-model="person.selected" on-select="refUpdated($item, $model, field.field)" theme="bootstrap" ng-disabled="false" style="min-width: 240px;">
                      <ui-select-match placeholder="Select a value in the list...">{{$select.selected.name || thisOwner}}</ui-select-match>
                      <ui-select-choices ng-hide="!$select.open" repeat="val in type10list.{{type10referals[field.field]}} | propsFilter: {name: $select.search, id: $select.search}">
                          <div ng-bind-html="val.name | highlight: $select.search"></div>
                          <small>
                          ID:
                          <span ng-bind-html="''+val.id | highlight: $select.search"></span>
                          </small>
                      </ui-select-choices>
                </ui-select>
            -->
          </div>
          <div class="form-actions">
            <button type="button" class="btn btn-primary" style="border-radius: 0px;" ng-click="$hide()">{{'Close' | i18next}}</button>
          </div>
        </form>
      </div>
    </div>