<div class="popover" tabindex="-1" ng-show="content">
  <div class="arrow"></div>
  <h3 class="popover-title" ng-bind-html="title" ng-show="title"></h3>
  <div class="popover-content">
    <form name="popoverForm">
      <p ng-bind-html="content" style="min-width:300px"></p>
      <div class="form-group">
        <div class="input-group">
          <md-input-container style="padding-bottom: 2px" ng-repeat="item in chipOptions[field.field]">
            <md-checkbox class="checkbox-md info" id="checkbox-style-md1" ng-required='false' ng-checked="exists(item, chipSelectedOptions[field.field])" ng-click="toggle(item, chipSelectedOptions[field.field], field.field)" aria-label="Checkbox">
              {{ item }}
            </md-checkbox>
          </md-input-container>
        </div>
      </div>
      <div class="form-actions">
        <button type="button" class="btn btn-primary" style="border-radius: 0px;" ng-click="$hide()">{{'Close' | i18next}}</button>
      </div>
    </form>
  </div>
</div>
